$govuk-assets-path: "/govuk/assets/";
$govuk-fonts-path: "/assets/fonts/";
$govuk-images-path: "/assets/images/";
$govuk-global-styles: true;
$govuk-new-typography-scale: true;

@import "../../node_modules/govuk-frontend/dist/govuk/all";

// // FloodMap css

// // GOVUK Styles
@import '../../node_modules/govuk-frontend/dist/govuk/base';
@import '../../node_modules/govuk-frontend/dist/govuk/core/typography';
@import '../../node_modules/govuk-frontend/dist/govuk/core/links';
@import '../../node_modules/govuk-frontend/dist/govuk/overrides/spacing';

// Componenet CSS
@import '../../node_modules/@defra/flood-map/src/flood-map';

strong {
  font-weight: bold;
}

.flood-map {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .govuk-header {
    @include mq ($until: tablet) {
      padding-left: 0.75em;
      padding-right: 0.75em;
    }
  }

  .govuk-header__container {
    @include mq ($from: tablet) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-left: 0.75em;
      padding-right: 0.75em;

      .govuk-header__logo {
        width: auto;
        padding-right: 0;
        float: none;
      }

      .govuk-header__content {
        width: auto;
        float: none;
        padding-left: 0;
      }

    }
  }
}

.flood-map-main {
  padding: 0.75em;

  @include mq ($from: tablet) {
    flex: 1 1 auto;
    min-height: 0;
    height: 100%;
    padding: 0;
  }
}

.flood-map-target {
  @include mq ($from: tablet) {
    height: 100%;
  }
}

.govuk-header__container {
  @include mq ($from: tablet) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0.75em;
    padding-right: 0.75em;

    .govuk-header__logo {
      width: auto;
      padding-right: 0;
      float: none;
    }

    .govuk-header__content {
      width: auto;
      float: none;
      padding-left: 0;
      transform: translateX(-80px);
    }
  }
}

#map-map-container {
  cursor: pointer;
}

// Application CSS
.fm-mobile.fm-inline.fm-o-container {
  position:fixed;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width: 100%;
  border: 0;
  background-color:var(--background-colour);
  -webkit-overflow-scrolling: touch;
  touch-action: pan-x pan-y;
}
