{% from "cookie-banner/macro.njk" import govukCookieBanner %}

{% set questionHtml %}
  <p class="govuk-body">We use some essential cookies to make this service work.</p>
  <p class="govuk-body">We'd also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
{% endset %}

{% set acceptedHtml %}
  <p class="govuk-body">You've accepted analytics cookies. You can <a class="govuk-link" href="/cookies">change your cookie settings</a> at any time.</p>
{% endset %}

{% set rejectedHtml %}
  <p class="govuk-body">You've rejected analytics cookies. You can <a class="govuk-link" href="/cookies">change your cookie settings</a> at any time.</p>
{% endset %}

<form action="/cookies" method="post" novalidate>
  <input type="hidden" name="crumb" value="{{ crumb }}">
  <input type="hidden" name="async" value="false">
  <input type="hidden" name="returnUrl" value="{{ currentPath }}">

  {{ govukCookieBanner({
    ariaLabel: "Cookies on " + serviceName,
    classes: "js-cookies-container js-cookies-banner",
    attributes: {
      "data-crumb": crumb,
      "data-gtm-key": googleTagManagerKey,
      "data-nosnippet": ""
    },
    messages: [
      {
        headingText: "Cookies on " + serviceName,
        html: questionHtml,
        classes: "js-question-banner",
        actions: [
          {
            text: "Accept analytics cookies",
            type: "submit",
            name: "analytics",
            value: "true",
            classes: "js-cookies-button-accept"
          },
          {
            text: "Reject analytics cookies",
            type: "submit",
            name: "analytics",
            value: "false",
            classes: "js-cookies-button-reject"
          },
          {
            text: "View cookies",
            href: "/cookies"
          }
        ]
      },
      {
        html: acceptedHtml,
        role: "alert",
        hidden: true,
        classes: "js-cookies-accepted",
        actions: [
          {
            text: "Hide this message",
            type: "button",
            classes: "js-hide"
          }
        ]
      },
      {
        html: rejectedHtml,
        role: "alert",
        hidden: true,
        classes: "js-cookies-rejected",
        actions: [
          {
            text: "Hide this message",
            type: "button",
            classes: "js-hide"
          }
        ]
      }
    ]
  }) }}
</form>
