{% set html %}
  <p class="govuk-body-s">
    Built by the
    <a href="https://www.gov.uk/government/organisations/environment-agency">Environment Agency</a>
  </p>
  <p class="govuk-body-s" style="max-width: 70ch;">
    © Crown copyright and database rights {{currentYear}}
    <a href = "https://www.ordnancesurvey.co.uk/">Ordnance Survey(OS)</a>
    {{osAccountNumber}}. Use of the address and mapping data is subject to the
      <a href="/os-terms">Ordnance Survey terms and conditions</a>.
  </p>
{% endset %}

{{ govukFooter({
  meta: {
    items: [
      {
        href: "/cookies",
        text: "Cookies"
      },
      {
        href: "/accessibility-statement",
        text: "Accessibility"
      },
      {
        href: "/terms-and-conditions",
        text: "Terms and conditions"
      },
      {
        href: "/privacy-notice",
        text: "Privacy notice"
      }
    ],
    html: html
  }
}) }}
