<div class="ie-hide nojs-show">
  <div class="grid-row">
    <div class="column-full">
      <div class="panel panel-device-requirements">
        <p>
          It looks like your computer or device isn’t giving you the best version of this service
        </p>
      </div>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <p>This could be because you’re using an older version of your browser (for example Chrome, Internet Explorer, Firefox or Safari).</p>
      <p>You can try <a href="https://www.gov.uk/help/browsers">updating your browser</a>.</p>
      <details>
        <summary>
          <span class="summary">Alternatively you can contact the Environment Agency</span>
        </summary>
        <div class="panel panel-border-narrow">
          <p>You can get general advice and information about flood probability in your area.</p>
          <p>Email: <a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a></p>
          <p>Telephone: 0370 8506 506<br/>
          Telephone (from outside the UK): +44 1709 389 201<br/>
          Monday to Friday, 8am to 6pm</p>
          <p><a href="https://www.gov.uk/call-charges">Find out more about call charges</a></p>
        </div>
      </details>
    </div>
  </div>
</div>