{% from "button/macro.njk" import govukButton %}
{% from "select/macro.njk" import govukSelect %}
{% from "input/macro.njk" import govukInput %}
<div class="dialog" id="report" aria-hidden="true" aria-modal="true">
  <div class="dialog-holder" aria-labelledby="dialog-heading" aria-describedby="dialog-content" role="dialog">
    <div class="dialog-content" role="document" tabindex="0">
      <div class ="align-right">     
     {{ govukButton({
    text: "Close",
    classes: "govuk-button--secondary dialog-cancel closebutton govuk-!-font-size-14",
    href:"#",
    id:"close"
  }) }}
  </div>
    <h2 id="dialog-heading" class="dialog-heading">Download report</h2>
     <span class="govuk-hint govuk-hint--block" id="dialog-content">
            To download your report: enter a reference name, select a scale, then click download.
      </span>
<form class="form" method="POST" action="pdf">
        <input name="id" type="hidden">
        <input name="polygon" type="hidden" value="{{polygon}}">
        <input name="center" type="hidden" value="[{{easting}},{{northing}}]">
       <div class="form-group">
        {{ govukInput({
            label: {
              text: "Your reference",
              classes: "govuk-label--m",
              isPageHeading: false
          },
          hint: {
            text: "This is chosen by you to help you find the report later and should be less than 25 characters"
          },
          id: "reference",
          name: "reference",
          attributes: {
            maxlength: 25
          }
        }) }}
</div>
       <div class="form-group">
        {{ govukSelect({
  id: "scale",
  name: "scale",
  classes: "govuk-label--m",
  label: {
    text: "Scale",  
    classes :"govuk-label--m"
  },
  hint: {
      
    text: "Select the scale of the map shown in the report"
  },
  items: [
    {
      value: "2500",
      text: "1:2500",
      selected: true
    },
    {
      value: "10000",
      text: "1:10000"   
    },
    {
      value: "25000",
      text: "1:25000"
    },
    {
      value: "50000",
      text: "1:50000"
    }
  ]
}) }}

        </div>
        <div class="dialog-actions">
          <button class="govuk-button button" type="submit" id="download">Download</button>
          <a class="dialog-cancel" href="#" id="cancel">Cancel</a>
        </div>  
        </form>      
    </div>

  </div>
</div>
<div class="dialog" id="report-downloading" aria-hidden="true" aria-modal="true">
  <div class="dialog-holder" aria-labelledby="dialog-downloading-title" aria-describedby="dialog-content" role="dialog">
    <div class="dialog-content" role="document" tabindex="0">
      <h2 id="dialog-downloading-title" class="dialog-heading">Downloading report</h2>
    </div>
  </div>
</div>
