<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Rivers and sea data inconsistencies
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">
      In some locations this data layer may show inconsistent results.  
    </p>  
    <p class="govuk-body">
      <a href="/how-to-use-rivers-and-sea-data">Find out more about this data and how it should be used </a>
    </p>
    <p class="govuk-body">
      The flood zones are not affected by this issue. 
    </p>
  </div>
</details>