<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">Flood risk information for this location</h1>

  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      You must carry out a flood risk assessment.
    </strong>
  </div>
  <p class="govuk-body">Your development is in flood zone 2. 
    It is also in an area benefiting from flood defences.
  </p>
  <p class="govuk-body"><a
      href="/flood-zone-results-explained?easting={{easting}}&amp;northing={{northing}}&amp;zone={{floodZone.zone}}&amp;polygon={{polygon}}&amp;center{{center}}&amp;location={{location}}&amp;zoneNumber={{zoneNumber}}&amp;fullName={{fullName}}&amp;recipientemail={{recipientemail}}">
      More information about your results</a>
  </p>
</div>

{% include "./map/flood-zone-results-map-column.html" %}

<div class="govuk-grid-column-two-thirds">
  <p class="govuk-body">To request flood risk assessment data (also known as a 
    <span class="govuk-!-font-weight-bold">product 4</span>) 
    you’ll need an email address we can send the information to.
  </p>
  <p class="govuk-body">You should receive your data within 20 working days.</p>
  <p class="govuk-body">Depending on the data that's available, your flood risk assessment data will include: </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>a flood zone map (flood map for planning)</li>
    <li>historic flood outlines</li>
    <li>relevant modelled flood levels and extents</li>
    <li>flood defence locations and attributes</li>
  </ul>

  <p class="govuk-body">Contact the {{areaName}} at  <a
    href="mailto:{{psoEmailAddress}}">{{psoEmailAddress}}</a> for:</p>

  <p class="govuk-body">
    You also need to make a separate request a Flood Defence Breach Hazard Map from the {{areaName}} team at <a href="mailto:{{psoEmailAddress}}">{{psoEmailAddress}}</a>. This will be available if modelling has been carried out for breach scenarios.
  </p>

  <div class="govuk-inset-text">
    <p class="govuk-body">You should also 
      <a
        href="https://check-long-term-flood-risk.service.gov.uk/map?easting={{easting}}&amp;northing={{northing}}&amp;map=SurfaceWater">check
        the risk from surface water and other sources of flooding</a> when doing a flood risk assessment.
    </p>
  </div>
  <div class="nojs-hide ie-hide">
    <a href="/contact?easting={{easting}}&amp;northing={{northing}}&amp;polygon={{polygon}}&amp;center={{center}}&amp;location={{location}}&amp;zoneNumber={{zoneNumber}}&amp;fullName={{fullName}}&amp;recipientemail={{recipientemail}}"
      role="button" draggable="false" class="govuk-button" data-module="govuk-button">Request your flood risk assessment data</a>
  </div>

  <h3 class="govuk-heading-s">More help and advice</h3>
  <p class="govuk-body">Contact the {{areaName }} at <a
      href="mailto:{{psoEmailAddress}}">{{psoEmailAddress}}</a> for:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{% include "./more-information.html" %}</li>
    <li>general help and advice about the site you're requesting data for</li>
  </ul>

  {% include "./change-location.html" %}
</div>