<ul class="govuk-list govuk-list--bullet">
  <li>bigger than 1 hectare (ha)</li>
  <li>in an area with critical drainage problems as notified by the Environment Agency</li>
  <li>identified as being at increased flood risk in future by the local authority's strategic flood risk assessment</li>
  <li>
    at risk from other sources of flooding (such as surface water or reservoirs) and its development would increase the 
    vulnerability of its use (such as constructing an office on an undeveloped site or converting a shop to a dwelling)
  </li>
</ul>
