<div class="legend">
  <ul>
    <li class="image pin">
      <div>Development location</div>
    </li>
    <li class="rectangle dark-blue">
      <div>Flood zone 3</div>
    </li>
    <li class="image area-benefiting">
      <div>Areas benefiting from flood defences</div>
    </li>
    <li class="rectangle light-blue">
      <div>Flood zone 2</div>
    </li>
    <li class="rectangle black-border">
      <div>Flood zone 1</div>
    </li>
    <li class="line orange">
      <div>Flood defence</div>
    </li>
    <li class="image main-river">
      <div>Main river</div>
    </li>
    <li class="image flood-holding-area">
      <div>Flood storage area</div>
    </li>
  </ul>
</div>