@import "colours";
@import "typography";
@import "css3";
// @include media(mobile) { => max-width: 640 px
// @include media(tablet) { => min-width: 641px
.map-container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 8px;
  height: 600px;

  @include media(mobile) {
    height: 660px;
  }
  &.confirm-location-map {
    height: 580px;
    @include media(mobile) {
      height: 575px;
    }
  }
  &.results-explained-map {
    height: 620px;
  }
  
  &.map-figure--error {
    box-shadow: -12px 0 #fff, -20px 0 #d4351c;
    border: 1px solid #ccc;
    height: 608px;
    .govuk-error-message {
      margin: 10px 10px 0 10px !important;
    }
    .map--result, .map--result-confirm {
      border: none !important;
    }
  }
  
  .mobile-heading {
    padding-bottom: 10px;

    @include media(tablet) {
      display: none;
    } 
  } 
}

.map--result {
  border: 1px solid #b1b4b6;
  display: flex;
  width: 100%;
  flex-flow: row nowrap;

  @include media(mobile) {
    flex-flow: column nowrap;
    .map-legend-list {
      height: 200px
    }
  }

  .map {
    position: relative;
    width: 100%;
    height: 620px;

    @include media(mobile) {
      height: 350px;
    }
  }

  .map-legend {
    height: 100%;
    width: 150px;
    text-align: left;
    padding: 0 11px;
    background: #fff;
    order: 2;
    z-index: 1;

    @include media(mobile) {
      height: 220px;
      width: 95%;
      margin: auto;
      text-align: center;
      padding: 0 0px;
    }

    &-list {
      display: flex;
      list-style: none;
      height: 600px;
      flex-flow: column nowrap;
      justify-content: space-evenly;
      @include media(mobile) {
        flex-flow: row wrap;
        height: auto;
      }
  
      .map-legend-item {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
        width: auto;
        @include media(mobile) {
          max-width: 70px;
        }
      }
    
      .map-legend-image {
        display: block;
        margin-bottom: 3px;
        width: 60px;

        &--tall {
          max-height: 30px;
          width: auto;
        }
        @include media(mobile) {
          // centres the images
          margin-left: auto;
          margin-right: auto;
          
          &--tall {
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
      .map-legend-image-with-border {
        border: 2px solid black;
        // The box shadow is there to mask a gap between the image and the border
        box-shadow: inset 0px 0px 0px 1px black;
      }
    }
  }
}

#map--result:fullscreen {
  .map {
    height: 100%;
  }
}

.map--result-confirm {
  border: 1px solid #b1b4b6;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin-bottom: 10px;
}

.pdf-download {
  text-align: right;
}

.ol-scale-line {
  left: 115px;
}

.full-page-map-html {
  height: 100vh;
}

.full-page-map-body {
  position: fixed;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.full-page-map,
.full-page-map .map-container,
.full-page-map .map-container .map--result,
.full-page-map .map-container .map {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
}

.full-page-map {
  z-index: 999;
  padding-right: 290px;
  background-color: #b1c7ee;
  
  .map-container {
    .ol-viewport {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
    }
  }
  .map-legend {
    position: absolute;
    right: 0;
    top: 0; 
    width: 290px;
  }

  .defra-map__back {
    position: fixed;
    text-indent: 2em;
    width: 120px;
    top: 0.5em;
    left: 0.5em;
    border: 0;
    padding: 0;
    cursor: pointer;
    background-color: white;
    font-size: 16px;
    line-height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath d='M4.828,11L12.314,18.485L10.899,19.899L1,10L10.899,0.101L12.314,1.515L4.828,9L19,9L19,11L4.828,11Z' style='fill:%230b0c0c;stroke:%230b0c0c;stroke-width:0.1px'/%3E%3C/svg%3E");
    background-size: 20px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
  }

  .ol-zoom {
    top: auto;
    left: auto;
    bottom: 100px;
    right: calc(290px + 2em);
  }  
}

#flood-map {
  // This is the full page map, added for the Nafra2 POC
  #legend {
    .map-legend-list {
      justify-content: flex-start;
    }
    .layer-toggle-container {
      height: 39px;
      display: flex;
      align-items: center;
      input[type="checkbox"] {
        color: #000;
        //filter: invert(10%) hue-rotate(18deg) brightness(1.7);
        width:20px;
        height:20px;
        border: 2px black solid;
        margin-left: 0;
        margin-right: 8px;
      }
    }
    
    .defra-map-key__title {
      display: block;
      padding:0;
      margin:0;
      font-size: 1.5rem;
      line-height: 2.125;
      font-family: "GDS Transport",arial,sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-weight: 700;

    }
    h3.heading-small {
      font-size: 1rem;
      padding-top: 10px;
      margin-top: 0;
      border-top: 1px solid #b1b4b6;
    }
  }
}
