@import "colours";
@import "typography";
@import "css3";
// @include media(mobile) { => max-width: 640 px
// @include media(tablet) { => min-width: 641px
.map-container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 8px;
  height: 600px;

  @include media(mobile) {
    height: 660px;
  }
  &.confirm-location-map {
    height: 480px;
    @include media(mobile) {
      height: 575px;
    }
  }
  &.results-explained-map {
    height: 620px;
  }
  
  .mobile-heading {
    padding-bottom: 10px;

    @include media(tablet) {
      display: none;
    } 
  } 
}

.map--result {
  border: 1px solid #b1b4b6;
  display: flex;
  width: 100%;
  flex-flow: row nowrap;

  @include media(mobile) {
    flex-flow: column nowrap;
    .map-legend-list {
      height: 200px
    }
  }

  .map {
    position: relative;
    width: 100%;
    height: 100%;

    @include media(mobile) {
      height: 350px;
    }
  }

  .map-legend {
    height: 100%;
    width: 150px;
    text-align: left;
    padding: 0 11px;
    background: #fff;
    order: 2;
    z-index: 1;

    @include media(mobile) {
      height: 220px;
      width: 95%;
      margin: auto;
      text-align: center;
      padding: 0 0px;
    }

    &-list {
      display: flex;
      list-style: none;
      height: 600px;
      flex-flow: column nowrap;
      justify-content: space-evenly;
      @include media(mobile) {
        flex-flow: row wrap;
        height: auto;
      }
  
    .map-legend-item {
      margin-top: 10px;
      margin-left: 5px;
      margin-right: 5px;
      width: auto;
      @include media(mobile) {
        max-width: 70px;
      }
    }
  
    .map-legend-image {
      display: block;
      margin-bottom: 3px;
      width: 60px;

      &--tall {
        max-height: 30px;
        width: auto;
      }
      @include media(mobile) {
        // centres the images
        margin-left: auto;
        margin-right: auto;
        
        &--tall {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    .map-legend-image-with-border {
      border: 2px solid black;
      // The box shadow is there to mask a gap between the image and the border
      box-shadow: inset 0px 0px 0px 1px black;
    }
  }
}
}

.map--result-confirm {
  border: 1px solid #b1b4b6;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin-bottom: 10px;
}

.pdf-download {
  text-align: right;
}

.ol-scale-line {
  left: 115px;
}
