$govuk-assets-path: "/govuk/assets/";
$govuk-fonts-path: "/assets/fonts/";
$govuk-images-path: "/assets/images/";
$govuk-global-styles: true;

@import 'govuk-frontend/dist/govuk/all';
@import 'govuk-frontend/dist/govuk/settings/colours-applied.scss';

@import 'util';

h1.heading-xlarge {
  margin-bottom: 20px;
}

.search-box {
  .form-group:first-child {
    margin-bottom: 12px;

    input.form-control {
      width: 100%
    }
  }

  button.button-get-started {
    width: 100%
  }
}

// Browser requirements

.panel.panel-device-requirements {
  border-left-width: 10px;
  background-color: #dee0e2;
  margin-top:em(5);
  margin-bottom: em(20, 16);
  p {
      font-weight:bold;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

  .govuk-back-link {
    position: relative;
  }
  
  .mapToolBtn {
    font-family: "GDS Transport", Arial, sans-serif;
    border: 0;
    padding: 8px 10px 7px;
    background: #1d70b8;
    color: #fff;
    position: absolute;
    top: 1rem;
    z-index: 9999;
    font-size: 1rem;
  }

  .mapToolBtn.active {
    background: #fd0;
    color: #000;
  }
  
  #drawShapeBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 9999;
    font-size: 1rem;
  }
  
  #markerBtn {
    right: 6rem;
  }
  
  .govuk-form-group.markerRadiosContainer {
    margin-bottom: 0;
    padding: 1rem .5rem .5rem .75rem;
  }
  
  .visually-hidden {
      position: absolute !important;
      height: 1px;
      width: 1px;
      overflow: hidden;
      clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
      clip: rect(1px, 1px, 1px, 1px);
      white-space: nowrap; /* added line */
  }
  
  .blue-inset {
    border-color: #5694ca;
    background-color: #eef4fa;
  }
  
  .ol-control {
    background-color: rgba(98,106,110,.5) !important;
    border-radius: 0 !important;
    padding: 0 !important;
  }
  
  .ol-control button {
    color: #626a6e !important;
    background-color: rgba(255,255,255,1) !important;
    width: fit-content !important;
    padding-left: 0.4em !important;
    padding-right: 0.4em !important;
  }
  
  .govuk-radios--small .govuk-radios__label {
      margin-top: -2px;
      padding: 13px 15px 13px 1px;
      float: left;
      font-size: 1rem;
      line-height: 1.25;
  }

  .govuk-radios--small .govuk-radios__item {
      min-height: 0;
      margin-bottom: 0;
      margin-right: 4px;
      padding-left: 30px;
      float: left;
  }

  .govuk-radios--small .govuk-radios__input {
      left: -10px;
  }

  .govuk-radios--small .govuk-radios__label::before {
      top: 8px;
      width: 24px;
      height: 24px;
  }

  .govuk-radios--small .govuk-radios__item:after {
      content: "";
      display: block;
      clear: both;
  }
  
  .govuk-form-group.markerRadiosContainer .govuk-radios--small {
    display: inline-block;
  }
  
  .govuk-form-group.markerRadiosContainer button {
    display: inline-block;
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 10px;
  }
  
  .results-map-static {
    max-width: 960px;
  }
  
  .js-only {
    display: none;
    visibility: hidden;
  }

  .flood-risk-changed-icon {
    margin-top: 5px
  }

  #product-1-button.loading {
    padding-right: 36px;
  }

  #product-1-button.loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto 0 auto auto;
    border: 4px solid rgb(223, 222, 221);
    border-top-color: #0000ff;
    border-radius: 50%;
    animation: button-loading-spinner 1s linear infinite;
  }

  @keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}