@import "typography";
.form-group-easting {
  width: 50%;
  @include media(tablet) {
    width: 33%;
  }
  float:left;
  margin-bottom:0;
  .form-group-container {
    padding-right: 0.3947em;
  }
  .form-control {
    width: 100%;
  }
}

.form-group-northing {
  width: 50%;
  @include media(tablet) {
    width: 33%;
  }
  float:left;
  margin-bottom:0;
  .form-group-container {
    padding-left: 0.3947em;
  }
  .form-control {
    width: 100%;
  }
}

.details-text{
padding: 15px;
padding-left: 15px;
padding-left: 20px;
border-left: 5px solid #b1b4b6;
border-left-color:rgb(177, 180, 182);
border-left-style: solid;
border-left-width: 5px;
}