{% extends "layout.html" %}
{% from "summary-list/macro.njk" import govukSummaryList %}


{% block pageTitle %}
What flood information do you need? Flood map for planning - GOV.UK
{% endblock %}

{% block content %}
{{ super() }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Changes to flood data</h1>

    <p class="govuk-body">
      This service now includes data from the new national flood risk assessment (NaFRA2).
    </p>

    <p class="govuk-body">
      We have updated flood zones 2 and 3 to include local, detailed models and a new, improved national model.
    </p>

    <p class="govuk-body">
      <a href="https://www.gov.uk/guidance/updates-to-national-flood-and-coastal-erosion-risk-information"
        class="govuk-link" govuk-!-margin-top-7 govuk-!-margin-bottom-8">
        See updates to national flood and coastal erosion risk information
      </a>. 
    </p>
  </div>

  <div class="govuk-grid-column-full">

    <div class="govuk-summary-card" id="rivers-sea">
      <div class="govuk-summary-card__title-wrapper vlow">
        <h4 class="govuk-summary-card__title">Rivers and the sea</h4>
      </div>

      <hr style="margin: 0;" class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-summary-card__title-wrapper vlow">
        <h4 class="govuk-summary-card__title">Present day</h4>
      </div>

      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Defended </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                <li> 3.3% AEP </li>
                <li> 1% fluvial and 0.5% tidal AEP </li>
                <li> 0.1% AEP </li>
              </ul>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <h3 class="govuk-heading-s"> Undefended </h3>
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                <li> 1% fluvial and 0.5% tidal AEP </li>
                <li> 0.1% AEP </li>
              </ul>
            </dd>
          </div>
        </dl>
      </div>

      <hr style="margin: 0;" class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-summary-card__title-wrapper vlow">
        <h4 class="govuk-summary-card__title"> Climate change </h4>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Defended </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                <li> 3.3% AEP </li>
                <li> 1% fluvial and 0.5% tidal AEP </li>
                <li> 0.1% AEP </li>
              </ul>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <h3 class="govuk-heading-s"> Undefended </h3>
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  1% fluvial and 0.5% tidal AEP
                </li>
                <li>
                  0.1% AEP
                </li>
              </ul>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Allowances
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                <li>the allowances used have been chosen from the Environment Agency’s <a
                    href="https://www.gov.uk/guidance/flood-risk-assessments-climate-change-allowances">Flood risk
                    assessment: climate change allowances</a>
                </li>
                <li>for river flooding we have used the ‘central’ allowance – based on the 50th percentile for the
                  2080s epoch</li>
                <li>for sea and tidal flooding we have used the ‘upper end’ allowance – based on the 95th percentile
                  for 2125</li>
              </ul>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card" id="surface-water">
      <div class="govuk-summary-card__title-wrapper vlow">
        <h4 class="govuk-summary-card__title">Surface water</h4>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Present day
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                <li> 3.3% AEP </li>
                <li> 1% AEP </li>
                <li> 0.1% AEP </li>
              </ul>
            </dd>
          </div>
        </dl>
      </div>

    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-three-quarters">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="skip-next-time">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="dont-show-again" name="dont-show-again" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label" for="dont-show-again">
                  Don't show me this information again for 30 days
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <a href="/map" role="button" draggable="false"
          class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start"
          data-module="govuk-button">
          Continue
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
            viewBox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>

        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block bodyEnd %}
  {{ super() }}
  <script>

    const setCookie =  (cName, cValue, expDays) => {
      const date = new Date()
      date.setTime(date.getTime() + expDays * 24 * 60 * 60 * 1000)
      const expires = 'expires=' + date.toUTCString()
      document.cookie = cName + '=' + cValue + '; ' + expires + '; path=/'
    }

    const element = document.getElementById('dont-show-again')
    element.onchange = (element) => {
      if (element.target.checked) {
        setCookie('Skip-changes-to-flood-data', 'true', 30)
      } else {
        setCookie('Skip-changes-to-flood-data', 'true', -365)
      }
    }
  </script>
{% endblock %}
