{% extends "layout.html" %}
{% block pageTitle %}
  About - Flood map for planning - GOV.UK
{% endblock %}
{% block content %}
 <div id="about-page" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <header>
        <h1 class="govuk-heading-l" tabindex="0">Flood map for planning</h1>
      </header>

      <ul class="govuk-list">
        <li class="govuk-heading-m">Application</li>
        <li id='fmp-app-version' class="govuk-body govuk-!-padding-left-5">Version: {{fmpApp.version}}</li>
        <li id='fmp-app-revision' class="govuk-body govuk-!-padding-left-5">Revision: {{fmpApp.revision}}</li>
        <li id='fmp-app-type' class="govuk-body govuk-!-padding-left-5">Type: {{fmpApp.requestType}}</li>
        <li class="govuk-heading-m">API</li>
        <li  id='fmp-api-version' class="govuk-body govuk-!-padding-left-5">Version: {{fmpApi.version}}</li>
        <li  id='fmp-api-revision' class="govuk-body govuk-!-padding-left-5">Revision: {{fmpApi.revision}}</li>
        <li class="govuk-heading-m">Environment</li>
        <li  id='environment' class="govuk-body govuk-!-padding-left-5">{{fmpApi.environment}}</li>
      </ul>
    </div>
  </div>
{% endblock %}
