{% extends "layout.html" %}
{% block pageTitle %}
  About - Flood map for planning - GOV.UK
{% endblock %}
{% block content %}
 <div id="contact-page" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <header>
        <h1 class="govuk-heading-l" tabindex="0">Flood map for planning</h1>
      </header>
      <p class="govuk-body">Release: {{version}}</p>
      <p class="govuk-body">
        Build number: {{buildVersion}}
      </p>
      <p class="govuk-body">
        Data version: {{dataVersion}}
      </p>
    </div>
  </div>
{% endblock %}
