<link rel="stylesheet" type="text/css" property="stylesheet" href="{{{assetpath}}}stylesheets/terms-and-conditions/index.css">
<main>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-medium" tabindex="0">Accessibility statement for the Flood map for planning service</h1>
            <p> This accessibility statement applies to the Flood map for planning website.</p>
            <p>This website is run by the Environment Agency. We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
            <ul class="list list-bullet">
                <li>zoom in up to 300% without the text spilling off the screen</li>
                <li>navigate most of the website using just a keyboard</li>
                <li>navigate most of the website using speech recognition software</li>
                <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
            </ul>
            <p>
We’ve also made the website text as simple as possible to understand.
</p>
            <p>
                <a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.
            </p>
            <h2 class="heading-medium" tabindex="0">How accessible this website is</h2>
            <p>We know some parts of this website are not fully accessible. For example:</p>
            <ul class="list list-bullet">
                <li>we link to guidance on GOV.UK that includes PDF documents that are not fully accessible to screen reader software</li>
                <li>the printable map that can be downloaded is in PDF form, so may not be fully accessible to screen reader software</li>
                <li>the flood map for planning is not accessible for those using assistive technology</li>
                <li>some of the form fields under the ‘find a location’ heading do not have labels</li>
            </ul>
            <h2 class="heading-medium" tabindex="0">Feedback and contact information</h2>
            <p>If you need information on this website in a different format like an accessible PDF, large print, easy read, audio recording or braille:</p>
            <ul class="list list-bullet">
                <li>email enquiries@environment-agency.gov.uk</li>
                <li>call 03708 506 506 (Monday to Friday, 8am to 5pm)</li>
            </ul>
            <h3 class="heading-small" tabindex="0">Reporting accessibility problems with this website</h3>
            <p>We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact:</p>
            <ul class="list list-bullet">
                <li>email enquiries@environment-agency.gov.uk</li>
                <li>call 03708 506 506 (Monday to Friday, 8am to 5pm)</li>
            </ul>
            <h3 class="heading-small" tabindex="0">Enforcement procedure</h3>
            <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).</p>
            <p>If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/"> contact the Equality Advisory and Support Service (EASS)</a>.</p>
            <h2 class="heading-medium" tabindex="0">Technical information about this website’s accessibility</h2>
            <p>The Environment Agency is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
            <h2 class="heading-medium" tabindex="0">Compliance status</h2>
            <p>This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1 AA standard,</a> due to the following non-compliances and exemptions.</p>
            <h2 class="heading-medium" tabindex="0">Non-accessible content</h2>
            <p>The content listed below is non-accessible for the following reasons.</p>
            <h3 class="heading-small" tabindex="0">Non-compliance with the accessibility regulations</h3>
            <p>Some images do not have a text alternative, so people using a screen reader cannot access the information. This fails WCAG 2.1 success criterion 1.1.1 (non-text content).</p>
            <p>Some of the input fields on the site may not have descriptions explicitly associated with them. This means they may be difficult to use with assistive technologies. This fails WCAG 2.1 success criterion 3.3.2 (labels or instructions).</p>
            <p>Some of the labels on the site may not be connected to form controls. This fails WCAG 2.1 success criterion 1.1.1 (non-text content), 1.3.1 (info and relationships), 3.3.2 (labels or instructions) and 4.1.2 (name, role and value).</p>
            <p>Some of the content may not be included in landmarks on the site. This fails WCAG 2.1 success criterion 2.4.6 (headings and labels)</p>
            <p>There may be some redundant WAI ARIA attributes on the site. This fails WCAG 2.1 success criterion on ARIA techniques. </p>
            <p>Some of the ARIA functionality may not be correct. For example, expandable text elements (such as ‘terms of use’) remain hidden for screen reader users, even after the text has been expanded. This fails WCAG 2.1 success criterion on ARIA techniques.</p>
            <p>Data in tables may be repeated when using a screen reader. This fails WCAG 2.1 success criterion 1.3.1 (information and relationships). </p>
            <h2 class="heading-medium" tabindex="0"> Content that’s not within the scope of the accessibility regulations</h2>
            <p>The website has the following content which is out of scope of the accessibility regulations:</p>
            <ul class="list list-bullet">
                <li>maps</li>
                <li>third party content which is out of our control, for example a corporate logo on the map the website uses</li>
                <li>PDF content that was published before 23 September 2018</li>
            </ul>
            <h2 class="heading-medium" tabindex="0"> What we’re doing to improve accessibility</h2>
            <p>We plan to fix these issues with a new version of the Flood map for planning website. We are currently developing this, and will aim to make it available by Spring 2021.</p>
            <h2 class="heading-medium" tabindex="0"> Preparation of this accessibility statement</h2>
            <p>This statement was prepared on 17 September 2020. It was last reviewed on 17 September 2020.</p>
            <p>This website was last tested on 18 March 2020. The test was carried out internally by the Environment Agency.</p>

        </div>
    </div>
</main>