{% extends "layout.html" %}
{% block pageTitle %}
Accessibility statement - Flood map for planning - GOV.UK
{% endblock %}
{% block content %}
    {{ super() }}

    <div id="accessibility-page" class="grid-row">
        <div class="column-two-thirds">
            <h1 class="govuk-heading-xl">
                Accessibility statement for flood map for planning
              </h1>
              <p class="govuk-body">
                This accessibility statement applies to the flood map for planning service at
                flood-map-for-planning.service.gov.uk.
              </p>
              <p class="govuk-body">
                This website is run by the Environment Agency. We want as many people as possible to be able to use this
                website. For example, that means that you should be able to:
              </p>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  change colours, contrast levels and fonts
                </li>
                <li>
                  zoom in up to 400% without the text spilling off the screen
                </li>
                <li>
                  navigate most of the website using just a keyboard
                </li>
                <li>
                  navigate most of the website using speech recognition software
                </li>
                <li>
                  listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA
                  and VoiceOver)
                </li>
              </ul>
              <p class="govuk-body">
                We’ve also made the website text as simple as possible to understand.
              </p>
              <p class="govuk-body">
                <a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use
                if you have a disability.
              </p>
              <h2 class="govuk-heading-l">
                How accessible this website is
              </h2>
              <p class="govuk-body">
                We know some parts of this website are not fully accessible. For example:
              </p>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  the mapping, and the tools that are part of it, are not accessible for those using assistive
                  technology. Also in some situations the contrast of colours is not high enough to be legible to all
                  users.
                </li>
                <li>
                  we link to guidance on GOV.UK that includes PDF documents that are not fully accessible to screen
                  reader software
                </li>
                <li>
                  the printable map that can be downloaded is in PDF form, so may not be fully accessible to screen
                  reader software
                </li>
                <li>
                  there is currently an issue with part of the ‘check your details’ page that causes the mis-labelling
                  of an empty element. This is a known issue with the framework used to build the service and will be
                  fixed when the code base is next updated
                </li>
              </ul>
              <h2 class="govuk-heading-l">
                Feedback and contact information
              </h2>
              <p class="govuk-body">
                If you need information on this website in a different format like an accessible PDF, large print, easy
                read, audio recording or braille:
              </p>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  email <a href=mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a>
                </li>
                <li>
                  call 03708 506 506 (Monday to Friday, 8am to 5pm)
                </li>
              </ul>
              <h2 class="govuk-heading-l">
                Reporting accessibility problems with this website
              </h2>
              <p class="govuk-body">
                We’re always looking to improve the accessibility of this website. If you find any problems not listed
                on this page or think we’re not meeting accessibility requirements, contact:
              </p>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  email <a href=mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a>
                </li>
                <li>
                  call 03708 506 506 (Monday to Friday, 8am to 5pm)
                </li>
              </ul>
              <h2 class="govuk-heading-l">
                Enforcement procedure
              </h2>
              <p class="govuk-body">
                The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies
                (Websites and Mobile Applications) (No.2) Accessibility Regulations 2018 (the ‘accessibility
                regulations’).
              </p>
              <p class="govuk-body">
                If you’re not happy with how we respond to your complaint <a href="https://www.equalityadvisoryservice.com/">contact
                  the Equality Advisory and Support Service
                  (EASS)</a>.
              </p>
              <h2 class="govuk-heading-l">
                Technical information about this website’s accessibility
              </h2>
              <p class="govuk-body">
                The Environment Agency is committed to making its website accessible, in accordance with the Public
                Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
              </p>
              <h2 class="govuk-heading-l">
                Compliance status
              </h2>
              <p class="govuk-body">
                This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content
                  Accessibility Guidelines version 2.1 AA standard</a>, due to the following non-compliances and
                exemptions.
              <p>
              <h2 class="govuk-heading-l">
                Non-accessible content
              </h2>
              <p class="govuk-body">
                The content listed below is non-accessible for the following reasons.
              <p>
              <h3 class="govuk-heading-m">
                Non-compliance with the accessibility regulations
              </h3>
              <p class="govuk-body">
                There are a number of elements of the map user interface that are not fully descriptive or accessible.
                These include:
              <p>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  The colour contrast of the scale icon used on the Ordnance Survey mapping fails to meet the required
                  contrast ratio (WCAG 1.4.3 Contrast - Level AA) in certain situations.
                </li>
                <li>
                  The colour contrast used in various elements of the mapping fails to meet the required contrast ratio
                  (WCAG 1.4.3 Contrast - Level AA) in certain situations.
                </li>
                <li>
                  The zoom controls provided on the maps do not provide a label that is descriptive enough to inform a
                  user of their function (WCAG 2.4.6 Headings and labels - Level AA).
                </li>
              </ul>
              <p class="govuk-body">
                We are looking to fix these issues in the following ways:
              <p>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  We are exploring ways to improve the accessibility of the controls on the map user interface so that
                  they are more descriptive and usable before December 2022.
                </li>
                <li>
                  We are planning an investigation of a more accessible scheme to differentiate layers used in mapping
                  across all flood services. We plan to carry out this work before July 2023.
                </li>
                <li>
                  We are planning an investigation about offering alternative, more accessible versions of the Ordnance
                  Survey mapping layers before July 2023.
                </li>
              </ul>
              <p class="govuk-body">
                There is an issue with the ‘Check your details’ page where an empty element in the table can be confusing
                to screen readers (WCAG 1.3.1 Info and Relationships - Level A).
              <p>
              <p class="govuk-body">
                By October 2022 the framework used on the page will be updated to the latest version. This will fix the
                known issue.
              <p>
              <h2 class="govuk-heading-l">
                Content that’s not within the scope of the accessibility regulations
              </h2>
              <p class="govuk-body">
                The website has the following content which is out of scope of the accessibility regulations:
              <p>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  online maps
                </li>
                <li>
                  third party content which is out of our control, for example a corporate logo on the map the website
                  uses
                </li>
                <li>
                  PDF content that was published before 23 September 2018
                </li>
              </ul>
              <h2 class="govuk-heading-l">
                What we’re doing to improve accessibility
              </h2>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  we commit to providing alternative, non-digital access to the service where requests are made to the
                  Environment Agency
                </li>
                <li>
                  we commit to providing accessible pdfs where requests are made to the Environment Agency
                </li>
              </ul>
              <h2 class="govuk-heading-l">
                Preparation of this accessibility statement
              </h2>
              <p class="govuk-body">
                This statement was prepared on 30 March 2022. It was last reviewed on 20 July 2022. This website was
                last audited on 17 March 2022.
              <p>
              <p class="govuk-body">
                The audit was carried out by the Digital Accessibility Centre (DAC).
              <p>
        </div>
    </div>
{% endblock %}
