{% extends 'layout.html' %}
  {% from "fieldset/macro.njk" import govukFieldset %}
  {% from "summary-list/macro.njk" import govukSummaryList %}
  {% from "warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "You can be fined up to £5,000 if you do not register.",
  iconFallbackText: "Warning"
}) }}
  {% block pageTitle %}
Check your details - Flood map for planning - GOV.UK
{% endblock %}

{% block content %}
  {{ super() }}

  
  {% from "button/macro.njk" import govukButton %}

  <div id="check-your-details-page" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form autocomplete="off" class="form" method="post" action="/check-your-details" novalidate>
    
    {{ govukFieldset({
        legend: {
        text: "Check your details before requesting your data",
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
        }
        }) }}

           <p>After you have submitted your request you will not be able to change it. Make sure the site location is accurate.</p>

        <p>You should receive your data within 20 working days.</p>

        {{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: PDFinformationDetailsObject.fullName
      },
      actions: {
        items: [
          {
            href: contacturl,
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Email address"
      },
      value: {
        text: PDFinformationDetailsObject.recipientemail
      },
      actions: {
        items: [
          {
            href: contacturl,
            text: "Change",
            visuallyHiddenText: "email address"
          }
        ]
      }
    },
    {
      key: {
        text: "Location"
      },
      value: {
        html: '</br>
        <figure class="map-container govuk-!-margin-bottom-6" role="application">
           <div class="map--result">
             <div id="map" class="map">
               {% include "./partials/map/no-js.html" %}
              </div>
            </div>
          </figure>'
      },
        actions: {
        items: [
          {
            href: confirmlocationurl,
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Flood Zone"
      },
      value: {
        text: PDFinformationDetailsObject.zoneNumber
      }
    }
  ]
}) }}



    {% if not PDFinformationDetailsObject.polygon %}
    {{ govukWarningText({
  text: "For developments larger than a single property you should draw a shape showing the boundary of your site to get accurate information.",
  iconFallbackText: "Warning"
}) }}
{% endif %}



  <link rel="stylesheet" type="text/css" href="{{assetPath}}/stylesheets/ol.css">
      
          <div id="summary-review-context">
          <input type="hidden" value="{{PDFinformationDetailsObject.coordinates.x}}" name="easting"/>
          <input type="hidden" value="{{PDFinformationDetailsObject.coordinates.y}}" name="northing"/>
          <input type="hidden" value="{{PDFinformationDetailsObject.location}}" name="location"/>
          <input type="hidden" value="{{PDFinformationDetailsObject.polygon}}" name="polygon"/>
          <input type="hidden" value="{{PDFinformationDetailsObject.cent}}" name="cent"/>
          <input type="hidden" value="{{PDFinformationDetailsObject.recipientemail}}" name="recipientemail"/>
          <input type="hidden" value="{{PDFinformationDetailsObject.fullName}}" name="fullName"/>
          <input type="hidden" value="{{PDFinformationDetailsObject.zoneNumber}}" name="zoneNumber"/>
        </div>

        {{ govukButton({
        text: "Request your flood risk assessment data",
        preventDoubleClick: true
        })
        }}
 </form>
    </div>
  </div>
  <script src="{{assetPath}}/javascripts/jquery.min.js"></script>
  <script src="{{assetPath}}/javascripts/summary-review.js"></script>


  {% if PDFinformationDetailsObject.polygon %}
  <script>
    $(function () {
      var page = new FMP.ApplicationSummaryReviewPage({
        polygon: {{ PDFinformationDetailsObject.polygon }} // This needs to be verified as originally {{polygon}}
          })
        })
  </script>
  {% else %}
  <script>
    $(function () {
      var page = new FMP.ApplicationSummaryReviewPage({ easting: '{{PDFinformationDetailsObject.coordinates.x}}', northing: '{{PDFinformationDetailsObject.coordinates.y}}' })
    })
  </script>
  {% endif %}
  
  {% endblock %}
