{% extends "layout.html" %}  
{% block pageTitle %}
Request submitted - Flood map for planning - GOV.UK
{% endblock %}



{% block content %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" property="stylesheet" href="{{assetPath}}/stylesheets/confirmation/index.css">

  <div id="confirmation-page" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Request submitted
        </h1>
        <div class="govuk-panel__body">
          Your reference number<br>
          <bold>{{applicationReferenceNumber}}</bold>
        </div>
      </div>
      <p class="govuk-body">We have sent a confirmation email to {{recipientemail}}
      </p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">We’re processing your request for flood risk assessment data</p>
      <p class="govuk-body">You should receive your data within 20 working days.</p>
      {% if zoneNumber === '1' %}
        <p class="govuk-body">
              However, as your site is in flood zone 1, it's unlikely there will be any data available
            </p>
      {% endif %}

      {% if zoneNumber !== '1' %}
        <p class="govuk-body">Depending on the data that's available, this information will include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a flood zone map (flood map for planning)</li>
          <li>historic flood outlines</li>
          <li>relevant modelled flood levels and extents</li>
          <li>flood defence locations and attributes</li>
        </ul>
      {% endif %}

      <h2 class="govuk-heading-m">Help and advice</h2>
      <p class="govuk-body">
        Contact the 
        {% if AreaName %} 
          {{AreaName}}
        {% endif %}
        {% if psoEmailAddress %}
          at <a href="mailto:{{psoemailaddress}}">{{psoEmailAddress}}</a>
        {% endif %}
        for:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link"  href="https://www.gov.uk/guidance/flood-risk-assessment-for-planning-applications#get-information-to-complete-an-assessment">more information about getting a product 5, 6, 7 or 8</a>
        <li>general help and advice about the site you're requesting data for</li>
      </ul>
      <p>For advice around flood risk assessments and planning permission you can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>speak to your local authority{% if LocalAuthorities %}, <span class="govuk-!-font-weight-bold">{{LocalAuthorities}}</span>{% endif %}</li>
        <li>
          <a href="https://www.gov.uk/guidance/flood-risk-assessment-for-planning-applications#contact" data-journey-click="FMFP:Confirmation:ContactEALink">contact the Environment Agency</a>
        </li>
      </ul>

      <p>
        {%if ispolygon  === true %}
          <a href="/flood-zone-results?location={{location}}&polygon={{polygon}}&center={{cent}}">Go back to your flood information</a>
        {% else %}
          <a href="/flood-zone-results?easting={{easting}}&northing={{northing}}&location={{location}}">Go back to your flood information</a>
        {% endif %}
      </p>
    </div>
  </div>
{% endblock %}