<link rel="stylesheet" type="text/css" property="stylesheet" href="{{{assetPath}}}stylesheets/confirmation/index.css">
<div>
  <main id="confirmation-page" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="panel-confirmation">
          <h1 class="heading-xlarge">
            Application complete
          </h1>
          <div class="heading-large">
            Your reference number<br><strong>{{applicationReferenceNumber}}</strong>
          </div>
        </div>

        <p>We have sent a confirmation email to {{email}} </p>

        <h2 class="heading-medium">What happens next</h2>

        <p>
         Your request is now being processed and you will receive an email with a link to a PDF of the maps you have requested.
        </p>


        <p>
          <a href="#" class="link">What did you think of this service?</a> (takes 30 seconds)
        </p>
      </div>
    </div>
  </main>
</div>

