<link rel="stylesheet" type="text/css" href="{{{assetPath}}}stylesheets/ol.css">
<link rel="stylesheet" type="text/css" href="{{{assetPath}}}stylesheets/confirm-location/index.css">
<main id="confirm-location-page">
  <h1 class="heading-xlarge">Confirm the development location</h1>
  {{> nojs}}
  {{> ie}}
  <div class="grid-row main-container nojs-hide ie-hide">
    <div class="column-half confirm-column">
      <div class="inset">
        <div class="info">
          <div class="point-info">
            <p>You can get a flood zone report for a marked point or for the area within a site boundary.</p>
            <strong class="bold-small">Get a flood zone report for a marked point</strong>
            <p>Move the map marker to your chosen development location and select ‘Continue’.</p>
            <a href="#polygon" class="toggle">Get a flood zone report for a site boundary.</a>
          </div>
          <div class="polygon-info">
            <strong class="bold-small">Get a flood zone report for a site boundary</strong>
            <p>How to draw a site boundary:</p>
            <ol class="list list-number">
              <li>Select ‘Start drawing’ at the top of the map.</li>
              <li>Work your way round your site, selecting each corner in turn.</li>
              <li>When you return to your starting point, double click.</li>
              <li>You can edit the shape by dragging the points or adding more.</li>
              <li>When you’re done, select ‘Continue’.</li>
            </ol>
            <p>If your site covers more than one flood zone, the report will be for the highest zone in your site. </p>
            <a href="#point" class="toggle">Get a flood zone report for a marked point.</a>
          </div>
        </div>
        <div class="form-group">
          <a id="continue" href="/summary/{{easting}}/{{northing}}" class="button button-get-started" title="Continue">Continue</a>
        </div>
      </div>
    </div>
    <div class="column-half map-column">
      <div class="map-container">
        <div id="map" class="map"></div>
        <div class="enter-fullscreen toggle-fullscreen ol-full-screen ol-control hidden-mobile">
          <button class="ol-full-screen-false" type="button" title="Full screen"><span>Full screen</span> <i class="fa fa-enlarge2"></i></button>
        </div>
        <div class="exit-fullscreen toggle-fullscreen ol-full-screen ol-control hidden-mobile">
          <button class="ol-full-screen-true" type="button" title="Exit full screen"><span>Exit full screen</span> <i class="fa fa-compress"></i></button>
        </div>
      </div>
    </div>
  </div>
</main>
<script src="{{{assetPath}}}javascripts/confirm-location.js"></script>
<script>
  $(function () {
    (new FMP.ConfirmLocationPage({
      easting: '{{easting}}',
      northing: '{{northing}}'
    }))
  })
</script>
