{% extends 'layout.html' %}
{% block pageTitle %}
  {% if errorSummary.length > 0 %}Error: {% endif %}Request flood risk assessment data - Flood map for planning - GOV.UK
{% endblock %}
{% block content %}
  {% from "input/macro.njk" import govukInput %}
  {% from "button/macro.njk" import govukButton %}
  {% from "error-summary/macro.njk" import govukErrorSummary %}
  {% from "fieldset/macro.njk" import govukFieldset %}

  <div id="contact-page" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if errorSummary.length > 0 %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorSummary
          })}}
        {% endif %}

        <h1 class="govuk-heading-xl">Order your flood risk data</h1>
        <p class="govuk-body">
          Order detailed flood risk information to be used for a flood risk assessment as
          part of a planning application.
          This data is also known as a product 4.
        </p>
        <p class="govuk-body"> The flood risk data usually includes: </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>detailed flood data</li>
          <li>past floods event data</li>
          <li>modelled flood levels and extents</li>
          <li>flood defence locations and attributes</li>
        </ul>

       <p class="govuk-body"> We will send your flood risk data in an email. </p>
       <p class="govuk-body"> You should receive your data within 20 working days. </p>
       <form autocomplete="off" class="form" method="post" action="/contact" novalidate>

        {{ govukInput({
          label: {
          text: "Full name",
          classes:"govuk-label govuk-label--m"
          },
          id: "fullName",
          name: "fullName",
          classes: "govuk-input",
          value: fullName,
          errorMessage: findErrorMessageById(errorSummary, "fullName")
        }) }}

        {{ govukInput({
          label: {
          text: "Email address",
          classes:"govuk-label govuk-label--m"
          },
          id: "recipientemail",
          name: "recipientemail",
          type: "email",
          value: recipientemail,
          autocomplete: "email",
          errorMessage: findErrorMessageById(errorSummary, "recipientemail"),
          spellcheck: false
        }) }}

        <div id="location-context">
          <input type="hidden" value="{{ polygon }}" name="polygon"/>
        </div>

        {{ govukButton({
            text: "Continue",
            preventDoubleClick: true
          })
        }}

      </form>
    </div>
  </div>

{% endblock %}