{% extends 'layout.html' %}
{% block content %}
  {% from "input/macro.njk" import govukInput %}
  {% from "button/macro.njk" import govukButton %}
  {% from "error-summary/macro.njk" import govukErrorSummary %}
  {% from "fieldset/macro.njk" import govukFieldset %}
  {% from "back-link/macro.njk" import govukBackLink %}
  <div class="govuk-width-container">

  {{ govukBackLink({
                      text: 'Back',
                       href: 'javascript:history.back()'
                   })
   }}

  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
    <form autocomplete="off" class="form" method="post" action="/contact">

    {% if errorSummary.length > 0 %}
      {{ govukErrorSummary({
                                titleText: "There is a problem",
                                errorList: errorSummary
                            }) 
        }}
    {% endif %}

    {{ govukFieldset({
  legend: {
    text: "Request your flood risk assessment data",
    classes: "govuk-fieldset__legend--l",
    isPageHeading: true
  }
}) }}

<p class="govuk-body">We’ll email you a link to a PDF file of your flood risk assessment data. This was previously known as a product 4.</p>

{{ govukInput({
  label: {
    text: "Full name",
      classes:"govuk-label govuk-label--m"
  },
   id: "fullName",
  name: "fullName",
  classes: "govuk-input",
  value:fullName,                     
  errorMessage: fullnameError
}) }}

{{ govukInput({
  label: {
    text: "Email address",
    classes:"govuk-label govuk-label--m"
  },
  id: "recipientemail",
  name: "recipientemail",
  classes: "govuk-input",
  type: "email",
  autocomplete: "email",
  spellcheck: false,
  value:recipientemail,                     
  errorMessage: emailError
}) }}

<div>
  <input type="hidden" value={{PDFinformationDetailsObject.coordinates.x}} name="easting" />
  <input type="hidden" value={{PDFinformationDetailsObject.coordinates.y}} name="northing" />
  <input type="hidden" value={{PDFinformationDetailsObject.location}} name="location" />
   <input type="hidden" value={{PDFinformationDetailsObject.polygon}} name="polygon" />
  <input type="hidden" value={{correlationId}} name="correlationId" />
</div>


    {{ govukButton({
                    text: "Continue",
                     preventDoubleClick: true
                })
   }}
  
</form>
</div>
</main>
</div>
  
{% endblock %}