{% extends 'layout.html' %}
{% from "notification-banner/macro.njk" import govukNotificationBanner %}
{% from "radios/macro.njk" import govukRadios %}
{% block pageTitle %}
Cookies - Flood map for planning - GOV.UK
{% endblock %}

{% block cookie_message %}
  {% set html %}
  <p class="govuk-notification-banner__heading">
    You’ve set your cookie preferences.
  </p>
  {% endset %}

  {{ govukNotificationBanner({
    type: "success",
    html: html
  }) }}
{% endblock %}

{% block content %}
  {{ super() }}
  <div id="cookies-page" class="grid-row">
    <div class="grid-row column-two-thirds">
      <h1 class="heading-xlarge"> Cookies </h1>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <p class="summary">
          Cookies are small files saved on your phone, tablet or computer when you visit a website.
        </p>
        <p class="govuk-body">We use cookies to make Flood Map for Planning work and collect information about how you
          use our service.</p>

        <h2 class="heading-medium">Essential cookies</h2>
        <p class="govuk-body">
          Essential cookies keep your information secure while you use Flood Map for Planning. We do not need to ask
          permission to use them.
        </p>
        <table>
          <caption class="govuk-visually-hidden">Essential cookies</caption>
          <thead>
            <tr>
              <th>Name</th>
              <th>Purpose</th>
              <th>Expires</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                flood_map_for_planning_admin_session
              </td>
              <td width="50%">
                Used to keep you signed in
              </td>
              <td>
                20 hours
              </td>
            </tr>
            <tr>
              <td>
                cookie_policy
              </td>
              <td width="50%">
                Saves your cookie consent settings
              </td>
              <td>
                1 year
              </td>
            </tr>
          </tbody>
        </table>
        <h2 class="heading-medium">Analytics cookies (optional)</h2>
        <p class="govuk-body">
          With your permission, we use Google Analytics to collect data about how you use Flood Map for Planning. This
          information helps us to improve our service.
        </p>
        <p class="govuk-body">
          Google is not allowed to use or share our analytics data with anyone.
        </p>
        <p class="govuk-body">
          Google Analytics stores anonymised information about:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>how you got to Flood Map for Planning</li>
          <li>the pages you visit on Flood Map for Planning and how long you spend on them</li>
          <li>any errors you see while using Flood Map for Planning</li>
        </ul>
        <table>
          <caption class="govuk-visually-hidden">Google Analytics cookies</caption>
          <thead>
            <tr>
              <th>Name</th>
              <th>Purpose</th>
              <th>Expires</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                _ga
              </td>
              <td width="50%">
                Checks if you’ve visited Flood Map for Planning before. This helps us count how many people visit our
                site.
              </td>
              <td>
                2 years
              </td>
            </tr>
            <tr>
              <td>
                _gid
              </td>
              <td width="50%">
                Checks if you’ve visited Flood Map for Planning before. This helps us count how many people visit our
                site.
              </td>
              <td>
                24 hours
              </td>
            </tr>
          </tbody>
        </table>
        <div class="cookie-settings__no-js">
          <h2 class="govuk-heading-s govuk-!-margin-top-6">Do you want to accept analytics cookies?</h2>
          <p class="govuk-body">We use Javascript to set our analytics cookies. Unfortunately Javascript is not running
            on your browser, so you cannot change your settings. You can try:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>reloading the page</li>
            <li>turning on Javascript in your browser</li>
          </ul>
        </div>
        <div class="cookie-settings__form-wrapper">
          <div class="govuk-form-group govuk-!-margin-top-6">
            {{ govukRadios({
              classes: "govuk-radios--inline",
              idPrefix: "cookie_consent",
              name: "cookie_consent",
              fieldset: {
              legend: {
              text: "Do you want to accept analytics cookies?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
              }
              },
              items: [
              {
              text: "Yes",
              value:"yes",
              checked: isYesChecked
              },
              {
              text: "No",
              value:"no",
              checked:isNoChecked
              }
              ]
              }) }}
            <button class="govuk-button govuk-!-margin-top-3" onclick=CookieSet()>Save cookie settings</button>
          </div>
        </div>
      </div>
      <div class="column-third">
        <div class="related">
          <aside class="govuk-related-items">
            <h2 class="heading-small">Related content</h2>
            <nav role="navigation">
              <ul>
                <li>
                  <a href="/privacy-notice">Privacy notice</a>
                </li>
                <li>
                  <a href="/terms-and-conditions">Terms and conditions</a>
                </li>
              </ul>
            </nav>
          </aside>
        </div>
      </div>
    </div>
  </div>

  <script>
    function CookieSet() {
      var selectedValue = document
        .querySelector('input[name="cookie_consent"]:checked')
        .value;
      var expDays = 365
      var cName = 'GA'
      var cValue
      if (selectedValue === 'yes') {
        cValue = 'Accept'
        let date = new Date();
        date.setTime(date.getTime() + (expDays * 24 * 60 * 60 * 1000));
        const expires = "expires=" + date.toUTCString();
        document.cookie = cName + "=" + cValue + "; " + expires + "; path=/";
      } else if (selectedValue === 'no') {
        cValue = 'Reject'
        let date = new Date();
        date.setTime(date.getTime() + (expDays * 24 * 60 * 60 * 1000));
        const expires = "expires=" + date.toUTCString();
        document.cookie = cName + "=" + cValue + "; " + expires + "; path=/";
      } else {}
      location.reload();
      return false;
    }
  </script>
{% endblock %}