{% extends "layout.html" %}

{% set pageTitle = 'This service is for locations in England only' %}

{% block content %}
{{ super() }}

<div id="not-england-page" class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
    <p>There are different services to get information in the following locations:</p>
    <ul>
      <li>
        <a href="http://www.sepa.org.uk/environment/water/flooding" rel="external"
          data-journey-click="England-Only:External-Link:Scotland">
          flood risk in Scotland</a>
      </li>
      <li>
        <a href="https://naturalresources.wales" rel="external" data-journey-click="England-Only:External-Link:Wales">
          flood risk in Wales</a>.
      </li>
      <li>
        <a href="https://www.nidirect.gov.uk/articles/check-the-risk-of-flooding-in-your-area" rel="external"
          data-journey-click="England-Only:External-Link:Northern-Ireland">flood risk in Northern Ireland</a>
      </li>
    </ul>
    <p>If you want to search for a different location in England, <a href="/"
        data-journey-click="England-Only:Internal-Link:England">return to the flood map for planning</a>.</p>
    </p>
  </div>
</div>
{% endblock %}