{% extends "layout.html" %}

{% block pageTitle %}
Feedback - Flood map for planning.
{% endblock %}

{% block content %}
<div id="feedback-page">
  <script id="ss-embed-275052">(function(d,w){var s,ss;ss=d.createElement('script');ss.type='text/javascript';ss.async=true;ss.src=('https:'==d.location.protocol?'https://':'http://')+'www.smartsurvey.co.uk/s/r/embed.aspx?i=253619&c=275052&ref={{ref}}&useragent={{userAgent}}';s=d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ss, s);})(document,window);</script>
</div>
{% endblock %}