{% extends 'layout.html' %}
{% set htmlClasses = "full-page-map-html" %}
{% set bodyClasses = "full-page-map-body" %}
{% block pageTitle %}
Flood risk information for this location - Flood map for planning - GOV.UK
{% endblock %}
{% block content %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="{{assetPath}}/fonts/style.css">
<link rel="stylesheet" type="text/css" href="{{assetPath}}/stylesheets/ol.css">
<link rel="stylesheet" type="text/css" href="{{assetPath}}/stylesheets/summary/index.css">

{% from "button/macro.njk" import govukButton %}

<script src="{{assetPath}}/javascripts/jquery.min.js"></script>
<script src="{{assetPath}}/javascripts/summary.js"></script>

{% if polygon %}
<script>
  $(function () {
    var page = new FMP.SummaryPage({ polygon: {{ polygon }}, nafra2Layers: true }) })
</script>
{% else %}
<script>
  $(function () {
    var page = new FMP.SummaryPage({ easting: '{{easting}}', northing: '{{northing}}' })
  })
</script>
{% endif %}

{% endblock %}
{% block footer %}
{{ super() }}
<div id="flood-map" class="govuk-grid-row full-page-map">
  <!-- The Map -->
    <figure class="map-container flood-zone-results-map govuk-!-margin-bottom-6" role="application">
      <figcaption class="govuk-visually-hidden" aria-hidden="false">
        A map showing the flood risk for the location you have provided
      </figcaption>
      <div class="mobile-heading">
        <h2 class="heading-medium">Map</h2>
        <a href="#legend">View map key</a>
      </div>
      <div id="map--result" class="map--result">
        <div id="map" class="map">
          {% include "./partials/map/no-js.html" %}
        </div>
        <!-- {% include "./partials/map/summary-legend.html" %} -->
        <div id="legend" class="map-legend {% if polygon %}polygon{% endif %}">
          <h2 id="mapKeyLabel" class="defra-map-key__title">
            <span role="text">Key 
              <span class="govuk-visually-hidden">for map features</span>
            </span>
          </h2>

          <ul class="map-legend-list govuk-body-s govuk-!-font-size-14">
            <li> <h3 class="heading-small">Base map</h3> </li>
            <li id="base-map-options">
              <div>
                <input type="radio" name="base-map" id="outdoor-27700" value="Outdoor_27700" checked="checked"/>
                <label for="outdoor-27700">Outdoor</label>
              </div>
              <div>
                <input type="radio" name="base-map" id="leisure-27700" value="Leisure_27700"/>
                <label for="leisure-27700">Leisure</label>
              </div>
              <div>
                <input type="radio" name="base-map" id="road-27700" value="Road_27700"/>
                <label for="road-27700">Road</label>
              </div>
              <div>
                <input type="radio" name="base-map" id="light-27700" value="Light_27700"/>
                <label for="light-27700">Light</label>
              </div>
            </li>

            <li> <h3 class="heading-small">Climate Change Scenarios</h3> </li>
            <li id="climate-change-options">
              <div>
                <input type="radio" name="climate-change" id="present-day" value="Outdoor_27700" checked="checked"/>
                <label for="present-day">Present Day</label>
              </div>
              <div>
                <input type="radio" name="climate-change" id="cc-1" value="Leisure_27700"/>
                <label for="cc-1">Climate Change 1</label>
              </div>
              <div>
                <input type="radio" name="climate-change" id="cc-2" value="Road_27700"/>
                <label for="cc-2">Climate Change 2</label>
              </div>
            </li>

            <li>
              <h3 class="heading-small">Flood map for planning</h3>
            </li>
            <li id="rivers-and-sea-layers">
            </li>
            <li>
              <h3 class="heading-small">Surface water flooding</h3>
            </li>
            <li id="surface-water-layers">
            </li>
          </ul>
        </div>
                
        <button onclick="history.back()" class="defra-map__back">Exit map</button>
      </div>
    </figure>
</div>
{% endblock %}
