{% extends 'layout.html' %}
{% set htmlClasses = "full-page-map-html" %}
{% set bodyClasses = "full-page-map-body" %}
{% block pageTitle %}
Flood risk information for this location - Flood map for planning - GOV.UK
{% endblock %}
{% block content %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="{{assetPath}}/fonts/style.css">
<link rel="stylesheet" type="text/css" href="{{assetPath}}/stylesheets/ol.css">
<link rel="stylesheet" type="text/css" href="{{assetPath}}/stylesheets/summary/index.css">

{% from "button/macro.njk" import govukButton %}

<script src="{{assetPath}}/javascripts/jquery.min.js"></script>
<script src="{{assetPath}}/javascripts/summary.js"></script>

{% if polygon %}
<script>
  $(function () {
    var page = new FMP.SummaryPage({ polygon: {{ polygon }}, nafra2Layers: true }) })
</script>
{% else %}
<script>
  $(function () {
    var page = new FMP.SummaryPage({ easting: '{{easting}}', northing: '{{northing}}' })
  })
</script>
{% endif %}

{% endblock %}
{% block footer %}
{{ super() }}
<div id="flood-map" class="govuk-grid-row full-page-map">
  <!-- The Map -->
    <figure class="map-container flood-zone-results-map govuk-!-margin-bottom-6" role="application">
      <figcaption class="govuk-visually-hidden" aria-hidden="false">
        A map showing the flood risk for the location you have provided
      </figcaption>
      <div class="mobile-heading">
        <h2 class="heading-medium">Map</h2>
        <a href="#legend">View map key</a>
      </div>
      <div id="map--result" class="map--result">
        <div id="map" class="map">
          {% include "./partials/map/no-js.html" %}
        </div>
        <!-- {% include "./partials/map/summary-legend.html" %} -->
        <div id="legend" class="map-legend {% if polygon %}polygon{% endif %}">
          <ul class="map-legend-list govuk-body-s govuk-!-font-size-14">
            <li>
              <h3 class="heading-small">Risk of flooding from rivers and the sea</h3>
            </li>
            <li id="rivers-and-sea-layers">
              <!-- <div>
                <input type="radio" name="zone" id="2and3" value="zone2and3" checked="checked"/>
                <label for="2and3">1 in 100 (rivers), 1 in 200 (sea) and 1 in 1000</label>
              </div>
              <div>
                <input type="radio" name="zone" id="3b" value="zone3b"/>
                <label for="1in30">1 in 30 - defended</label>
              </div> -->
            </li>
            <li>
              <h3 class="heading-small">Risk of flooding from surface water</h3>
            </li>
            <li id="surface-water-layers">
              <!-- <div>
                <input type="radio" name="probability" id="1in1000" value="1 in 1000" checked="checked"/>
                <label for="1in1000">1 in 1000</label>
              </div>
              <div>
                <input type="radio" name="probability" id="1i 100" value="1 in 100"/>
                <label for="1in100">1 in 100 (rivers) 1 in 200 (sea)</label>
              </div>
              <div>
                <input type="radio" name="probability" id="1in30" value="1 in 30"/>
                <label for="1in30">1 in 30</label>
              </div> -->
            </li>
          </ul>
        </div>
                
        <button onclick="history.back()" class="defra-map__back">Exit map</button>
      </div>
    </figure>
</div>
{% endblock %}
