<link rel="stylesheet" type="text/css" href="{{{assetPath}}}stylesheets/home/index.css">
<main id="home-page">
  <h1 class="heading-xlarge">Flood map for planning</h1>
  <p>
    This service is for learning about a site location&#39;s flood probability as part of development planning.
  </p>
  <h2 class="heading-medium">Before you start</h2>
  <p>
    This service has 3 steps:
    <ol class="list list-number">
      <li>Provide a postcode, place or National Grid Reference (NGR) where your development will take place</li>
      <li>Confirm the location using a map</li>
      <li>View a map showing the probability of flooding in the area</li>
    </ol>
  </p>
  <h3 class="heading-medium">Enter your development&#39;s location to view the probability of it flooding</h3>
  <div class="grid-row search-box">
    <div class="column-half">
      <form method="get" action="/confirm-location">
        <div class="form-group">
          <input class="form-control" name="place" id="place" type="text" placeholder="Enter a postcode, place or NGR" title="A valid place in England is required" autocomplete="off">
          {{#if hasError}}
            <div class="error-message">{{{errorMessage}}}</div>
          {{/if}}
        </div>
        <div class="form-group">
          <button class="button button-get-started" type="submit" title="Continue">Continue</button>
        </div>
      </form>
    </div>
  </div>
  <p>
    For general flood information, including local flood warnings, use the <a href="https://flood-warning-information.service.gov.uk/">flood information service</a>.
  </p>
</main>
