{% extends "layout.html" %}

{% set pageTitle = 'How to use rivers and sea data' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-l">
      {{ pageTitle }} 
    </h1>

    <p class="govuk-body">
      Rivers and sea supporting data is given to help you further investigate flood risk.
    </p>
    <p class="govuk-body">
      In some locations the rivers and sea supporting layers may show inconsistent results.  
    </p>

    <h2 class="govuk-heading-m">
      What are the rivers and sea supporting layers? 
    </h2>

    <p class="govuk-body">
      For the first time, we have published additional layers showing rivers and sea flood risk alongside the flood zones.  
    </p>
    <p class="govuk-body">
      These show flood risk with defences and without defences, for the present day and with climate change.
    </p>
    <p class="govuk-body">
      The new data supports developers to meet the requirements of national planning policy and guidance.
    </p>

    <h2 class="govuk-heading-m">
      How should the data be used? 
    </h2>

    <p class="govuk-body">
      The table below explains how the datasets shown on the flood map should be used in planning.  
    </p>

  </div>
</div>

<div class="govuk-summary-card govuk-!-margin-top-3">          
  <div class="govuk-summary-card__title-wrapper vlow">
    <h2 class="govuk-summary-card__title">Flood risk assessment</h2>
    <ul class="govuk-summary-card__actions">
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Identify the need for flood risk assessment
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">To identify the need for a flood risk assessment use: </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>flood zones 2 and 3</li>
            <li>water storage areas</li>
            <li>all rivers and sea, and surface water layers</li>
          </ul>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Inform a flood risk assessment
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">You can use all the data layers to inform a flood risk assessment.</p>
        </dd>
      </div>
    </dl>
  </div>
</div>

<div class="govuk-summary-card govuk-!-margin-top-3">          
  <div class="govuk-summary-card__title-wrapper vlow">
    <h2 class="govuk-summary-card__title">Sequential and exception tests</h2>
    <ul class="govuk-summary-card__actions">
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Identify the need for the sequential test
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">To identify the need for the sequential test use:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>flood zones 2 and 3</li>
            <li>water storage areas (if the local planning authority's strategic flood risk assessment defines as flood zone 3b)</li>
            <li>all rivers and sea, and surface water layers</li>
          </ul>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Identify the need for the exception test
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">To identify the need for the exception test use:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>flood zones 2 and 3</li>
            <li>water storage areas (if the local planning authority's strategic flood risk assessment defines as flood zone 3b)</li>
            <li>rivers and sea with defences 1 in 30 (if the local planning authority's strategic flood risk assessment defines as flood zone 3b)</li>
          </ul>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Inform application of the sequential and exception tests
        </dt>
        <dd class="govuk-summary-list__value">
        <p class="govuk-body">To inform application of the sequential and exception tests use:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>flood zones 2 and 3</li>
            <li>defences</li>
            <li>all rivers and sea, and surface water layers</li>
            <li>water storage areas (if local planning authority’s strategic flood risk assessment defines as flood zone 3b)</li>
          </ul>
        </dd>
      </div>
    </dl>
  </div>
</div>

<div class="govuk-summary-card govuk-!-margin-top-3">          
  <div class="govuk-summary-card__title-wrapper vlow">
    <h2 class="govuk-summary-card__title">Local planning authority designation of 3b (functional floodplain) in strategic flood risk assessment</h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">To inform local planning authority designation of 3b (functional floodplain), in strategic flood risk assessments, subject to local agreement with the Environment Agency, use:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>water storage areas</li>
            <li>rivers and sea with defences 1 in 30 present day</li>
          </ul>
        </dd>
      </div>
    </dl>
  </div>
</div>

<div class="govuk-summary-card govuk-!-margin-top-3">          
  <div class="govuk-summary-card__title-wrapper vlow">
    <h2 class="govuk-summary-card__title">Development incompatibility</h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">To check development incompatibility, see <a href="https://www.gov.uk/guidance/flood-risk-and-coastal-change#table2">table 2 of Planning Practice Guidance</a> and use:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>flood zones 2 and 3</li>
            <li>water storage areas (if local planning authority's strategic flood risk assessment defines as flood zone 3b)</li>
            <li>rivers and sea with defences 1 in 30 present day (if local planning authority's strategic flood risk assessment defines as flood zone 3b)</li>
          </ul>
        </dd>
      </div>
    </dl>
  </div>
</div>

<div class="govuk-summary-card govuk-!-margin-top-3">          
  <div class="govuk-summary-card__title-wrapper vlow">
    <h2 class="govuk-summary-card__title">
      Trigger local planning authority to consult Environment Agency or apply standing advice
    </h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Data that can be used to trigger this process
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Subject to applying the process set out in <a href="https://www.gov.uk/guidance/flood-risk-assessment-local-planning-authorities">national flood risk standing advice for local planning authorities</a>:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>flood zones</li>
          <li>main rivers</li>
        </ul>
        <p class="govuk-body">If the local planning authority's strategic flood risk assessment defines as flood zone 3b:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>water storage areas</li>
          <li>rivers and sea with defences 1 in 30 present day</li>
        </ul>
        <p class="govuk-body">All climate change rivers and sea layers if site location is flood zone 1. In which case, apply national flood risk standing advice for local planning authorities as if the site were flood zone 2.</p>
        </dd>
      </div>
    </dl>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-m">
      Examples 
    </h2>
    <p class="govuk-body">
      The following examples aim to help you understand the table. 
    </p>
    <p class="govuk-body">
      "My site is in flood zone 1 but is within the rivers and sea 1 in 1,000 undefended climate change extent. Do I need a flood risk assessment?" 
    </p>
    <p class="govuk-body">
      Yes. Development could be at risk of flooding during its lifetime, so a flood risk assessment should be carried out.
    </p>

    <p class="govuk-body">
      "My proposed housing development is in the rivers and sea 1 in 30 defended present day extent. Can I assume this is functional floodplain (flood zone 3b) when checking if the development is incompatible?" 
    </p>

    <p class="govuk-body">
      No, you shouldn't assume that this area is functional floodplain (flood zone 3b). You should first check the local planning authority's strategic flood risk assessment (SFRA) to see if it has designated the site functional floodplain. If the SFRA doesn't contain suitable information on functional floodplain, you’ll need to complete your own assessment, informed by the rivers and sea 1 in 30 defended present day extent and the water storage areas layer.  
    </p>

    <h2 class="govuk-heading-m">
      Data for flood risk assessments 
    </h2>

    <p class="govuk-body">
      Users of any flood risk data should always satisfy themselves that it is suitable for its intended use.
    </p>

    <p class="govuk-body">
      The material displayed in this service, including maps and risk data, is provided without any guarantees, conditions or warranties as to its accuracy. See our <a href="/terms-and-conditions">terms and conditions</a> for more information. 
    </p>

    <p class="govuk-body">
      To produce a suitable flood risk assessment, other datasets and assessments will be needed. 
    </p>

    <h2 class="govuk-heading-m">
      Flood zones 
    </h2>

    <p class="govuk-body">
      We continue to have a high level of confidence in the flood zones.  
    </p>

    <p class="govuk-body">
      The flood zones are the statutory triggers for local planning authorities to check if they must consult the Environment Agency or apply standing advice.  
    </p>

    <p class="govuk-body">
      You can find out if the Environment Agency will be consulted on your application or if flood risk standing advice applies, by visiting <a href="https://www.gov.uk/guidance/flood-risk-assessment-for-planning-applications">flood risk assessments: applying for planning permission</a>.  
    </p>

    <h2 class="govuk-heading-m">
      What inconsistent results do the layers sometimes show and why? 
    </h2>

    <p class="govuk-body">
      In some locations the new rivers and sea supporting layers show inconsistent results. Examples include: 
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        1 in 30 defended extents being bigger than 1 in 100 defended extents 
      </li>
      <li>
        defended extents being larger than undefended extents
      </li>
    </ul>

    <p class="govuk-body">
      These issues only exist in some locations. 
    </p>
    <p class="govuk-body">
      The flood zones are not affected by these issues. 
    </p>

    <p class="govuk-body">
      We have produced these layers using a new process as part of our new national flood risk assessment (NaFRA2). NaFRA2 brings together local modelling and national modelling. In a given location: 
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        all the layers could be from local modelling 
      </li>
      <li>
        all the layers could be from national modelling  
      </li>
      <li>
        some layers could be from local modelling and others from national modelling  
      </li>
    </ul>

    <p class="govuk-body">
      The main reasons for inconsistent results in these layers are: 
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        results showing differences in modelling (for example between national and local modelling) 
      </li>
      <li>
        results showing poor data quality - in some known locations we are working on important improvements to the new supporting layers (in those locations we have retained our previous flood zones while these improvements are made) 
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      What are we doing about the inconsistent results? 
    </h2>
    <p class="govuk-body">
      We are analysing the new data to better understand these issues.  
    </p>
    <p class="govuk-body">
      Improvements and updates are planned later in 2025/26, which will help to resolve many of these issues.  
    </p>
    <p class="govuk-body">
      We may make further updates to the flood map for planning to highlight where we know inconsistent results exist. 
    </p>
  </div>
</div>

{% endblock %}
