{%- macro listRow(title, value, id) -%} {%- if value %}
  <div class="govuk-summary-list__row">{% if SONAR %}<dl>{% endif %}
    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      <span class="govuk-body-s">
        <strong>{{title}}</strong>
      </span>
    </dt>
    <dd class="govuk-summary-list__value">
      <span class="govuk-body-s"{% if id %} id="{{id}}"{% endif %}>
        {{value | nl2br | safe}}
      </span>
    </dd>{% if SONAR %}</dl>{% endif %}
  </div>
{% endif %}{% endmacro -%}

{#- ******************************** AEP TEXT ******************************** -#}
  {%- if aep -%}
    {%- if aep==='low' -%}
      {%- set aepText =    "0.1% (1 in 1000)" -%}
    {%- endif %}
    {%- if aep==='medium' -%}
      {%- set aepText = "1% (1 in 100)"    -%}
    {%- endif %}
    {%- if aep==='high' -%}
      {%- set aepText =   "3.3% (1 in 30)"   -%}
    {%- endif %}
    {%- set aepText = [aepText, '<br>', 'chance of flooding each year'] | join -%}
  {%- endif -%}
{#- ******************************** AEP TEXT ******************************** -#}

{#- ******************************** DEPTH    ******************************** -#}
  {%- if ds==='sw' -%}
    {%- set depth = "DEPTH" -%}
  {%- endif -%}
{#- ******************************** DEPTH    ******************************** -#}

{#- ******************************** FLOOD ZONE ******************************* -#}
  {%- if fz==='FZ2' -%}
    {%- set floodZone = "2" -%}
  {%- elseif fz==='FZ3' -%}
    {%- set floodZone = "3" -%}
  {%- endif -%}
{#- ******************************* FLOOD ZONE ******************************* -#}

{#- ******************************* TITLE      ******************************* -#}
  {%- if fz==='FZ2' or fz==='FZ3' -%}
    {%- set title = "Flood zones" -%}
  {%- elseif fz -%}
    {%- set title = "Flood zones plus climate change" -%}
  {%- elseif ds==='sw' -%}
    {%- set title = "Surface water" -%}
  {%- elseif ds==='rsd' -%}
    {%- set title = "River and sea with defences" -%}
  {%- elseif ds==='rsu' -%}
    {%- set title = "River and sea without defences" -%}
  {%- endif -%}
{#- ******************************* TITLE      ******************************* -#}

{#- ******************************* TIME FRAME ******************************* -#}
  {%- if tf==='cc'-%}
    {%- set timeFrame = "Climate change" -%}
  {%- else -%}
    {%- set timeFrame = "Present day" -%}
  {%- endif -%}
{#- ******************************* TIME FRAME ******************************* -#}

<div id="info-title" class="govuk-visually-hidden" aria-hidden="true" style="display: none">
  TITLE:{{title}}
</div>
<dl class="govuk-summary-list govuk-!-margin-bottom-3">
  {{ listRow('Easting and northing', 'COORDS', gaId) -}}
  {{ listRow('Timeframe', timeFrame, 'info-timeframe') -}}
  {{ listRow('Flood zone', floodZone, 'info-flood-zone') -}}
  {{ listRow('Flood source', fs, 'info-flood-source') -}}
  {{ listRow('Annual exceedance probability (AEP)', aepText, 'info-aep') -}}
  {{ listRow('Depth in millimetres', depth, 'info-depth') -}}
</dl>

{%- if floodZone %}
<h2 id='info-fz-updates-title' class="govuk-heading-s">Updates to flood zones 2 and 3</h2>
<p id='info-fz-updates-body' class="govuk-body-s">
  Flood zones 2 and 3 have been updated to include local detailed models, and a new improved national model.
</p>
{%- endif -%}

{%- if fz==='FZCC' %}
<h2 id='info-how-to-cc-title' class="govuk-heading-s">How to use flood zones plus climate change</h2>
<p id='info-how-to-cc-body' class="govuk-body-s">
  The flood zones plus climate change dataset shows how the combined extent of flood
  zones 2 and 3 could increase with climate change over the next century, ignoring the
  benefits of any existing flood defences.
</p>
{%- endif -%}

{%- if fz==='FZNODATA' %}
<h2 id='info-fznd-title' class="govuk-heading-s">Climate change data unavailable</h2>
<p id='info-fznd-body' class="govuk-body-s">
  In some locations flood zones plus climate change data is not currently available while we make important improvements to our data.
</p>
{%- endif -%}

{%- if ds==='sw' %}
<p id="info-sw-building" class="govuk-body-s">
  Surface water information tells you the flood risk of the land around a building and cannot tell you if individual buildings are at risk.
</p>
  {%- if tf==='cc' %}
  <div id="info-sw-cc-allowance" style="display: contents">
    <h2 class="govuk-heading-s">Climate change allowances</h2>
    <p class="govuk-body-s">
      Surface water with climate change uses the ‘upper end’ allowance for the 2070s epoch (2061 to 2125).
    </p>

    <p class="govuk-body-s">
      This has been taken from the Environment Agency’s
      <p class="govuk-body-s">
        <a href="https://www.gov.uk/guidance/flood-risk-assessments-climate-change-allowances">
          Flood risk assessment: climate change allowances
        </a>
      </p>
    </p>
  </div>
  {%- endif -%}
{%- endif -%}

{%- if tf==='cc' %}
<p id='info-how-to-cc-url' class="govuk-body-s">
  <a href="/how-to-use-flood-map-for-planning-data">
    Find out more about flood map for planning data and how to use it
  </a>
</p>
{%- endif -%}

{%- if fz==='FZCC' %}
<div id="info-fz-cc-allowance" style="display: contents">
  <h2 class="govuk-heading-s">Climate change allowances</h2>
  <p class="govuk-body-s">
    Flood zones plus climate change uses the following climate change allowances:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li class='govuk-body-s'>
      peak river flow 'central' allowance, based on the 50th percentile for the 2080s epoch (2070 to 2125)
    </li>
    <li class='govuk-body-s'>
      sea and tidal flooding 'upper end' allowance to account for cumulative sea level rise to 2125, based on the 95th percentile
    </li>
  </ul>
  <p class="govuk-body-s">
    These have been taken from the Environment Agency's
      <a href="https://www.gov.uk/guidance/flood-risk-assessments-climate-change-allowances" contenteditable="false" style="cursor: pointer;">
        Flood risk assessment: climate change allowances
      </a>
  </p>
</div>
{%- endif -%}
