{% extends "template.njk" %}
{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{% from "footer/macro.njk" import govukFooter %}

{% set metaTitle = (pageTitle or model.pageTitle or 'Flood map for planning') + ' - GOV.UK' %}
{% set metaDescription = model.metadata.description | default('Flood map for planning Service : Flood map for planning') %}
{% set metaKeywords = model.metadata.keywords | default('flood,mapfor,planning,service,gov,uk') %}

{% block pageTitle %}
  {{ metaTitle }}
{% endblock %}

{% block head %}
  <meta property="fb:app_id" content="{{fbAppId}}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{fullUrl}}" />
  <meta property="og:title" content="{{metaTitle}}" />
  <meta property="og:description" content="{{metaDescription}}" />
  <meta property="keywords" content="{{metaKeywords}}" />
  <meta property="description" content="{{metaDescription}}" />
  <meta name="google-site-verification" content="HjuKUejT64a0rBdUxxtbnIKNB4_cZ3X3hlXOxk4_OX8" />
  <link href="{{ assetPath }}/stylesheets/application.css" rel="stylesheet" />
  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <script src="//cdn.polyfill.io/v2/polyfill.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
{% endblock %}

{% block header %}
<div id="global-cookie-message" class="cookie-banner no-print" role="region" aria-label="cookie banner">
      <div class="govuk-width-container">
        <p class="govuk-body">
          This website only stores the cookies that are essential to make it work. Read more about <a class="govuk-link" href="cookies">how we use cookies</a>
        </p>
        <button id="close-global-cookie-message" class="govuk-button govuk-!-margin-bottom-0" type="submit">Close</button>
      </div>
    </div>

  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    containerClasses: "govuk-width-container",
    serviceName: serviceName,
    serviceUrl: "/"
  }) }}

{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
{% endblock %}

{% block bodyEnd %}

{% include "partials/exit-survey-dialog.html" %}

  {# DEBUG 
  <details>
    <summary>DEBUG</summary>
    <pre>{{ model | dump(2) | safe }}</pre>
  </details>
  #}

  {# Google Analytics #}
  {% if gaAccId %}
    <script type="text/javascript">
      var analyticsAccount = '{{gaAccId}}'

      ;(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga')

      ga('create', analyticsAccount, 'auto')
      ga('send', 'pageview')
    </script>
  {% endif %}

  <script nonce={{nonce}} type="text/javascript">
        function removeCookieMessage() {
            var elem = document.getElementById('global-cookie-message')
            if (elem.parentNode) {
                elem.parentNode.removeChild(elem)
            }
        }
        (function () {
            'use strict'
            var seen_cookie_message = /(^|\;)\s*seen_cookie_message=/.test(document.cookie)
            if (seen_cookie_message) {
                removeCookieMessage()
            } else {
                document.getElementById('close-global-cookie-message').addEventListener('click', function() {
                    var expiry = new Date()
                    expiry.setDate(expiry.getDate() + 90)
                    document.cookie = 'seen_cookie_message=true; expires=' + expiry.toUTCString() + '; path=/;'
                    removeCookieMessage()
                })
            }
        })()
    </script>

  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="{{ assetPath }}/all.js"></script>
   <!-- <script src="{{ assetPath }}/javascripts/components/a11y-dialog.js"></script> -->
  <script>window.GOVUKFrontend.initAll()</script>
  <!-- <script src="{{ assetPath }}/javascripts/exit-survey.js"></script> -->
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://www.gov.uk/help",
          text: "Help"
        },
        {
          href: "/cookies",
          text: "Cookies"
        },
        {
          href: "/accessibility",
          text: "Accessibility"
        },
        {
          href: "/privacy-policy",
          text: "Privacy policy"
        },
        {
          href: "/terms-conditions",
          text: "Terms and conditions"
        },
        {
          href: "https://www.gov.uk/contact",
          text: "Contact"
        },
        {
          href: "/privacy-notice",
          text: "Privacy notice"
        },       
        {
          href: "https://www.gov.uk/cymraeg",
          text: "Cymraeg"
        },
        {
          href: "https://www.gov.uk/government/organisations/environment-agency",
          text: "Built by the Environment Agency"
        }
      ]
    }
  }) }}
{% endblock %}