{% extends "template.njk" %}
{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{% from "footer/macro.njk" import govukFooter %}
{% from "cookie-banner/macro.njk" import govukCookieBanner %}
{% from "button/macro.njk" import govukButton %}

{% set metaTitle = (pageTitle or model.pageTitle or 'Flood map for planning') + ' - GOV.UK' %}
{% set metaDescription = model.metadata.description | default('Flood map for planning Service : Flood map for planning') %}
{% set metaKeywords = model.metadata.keywords | default('flood,mapfor,planning,service,gov,uk') %}

{% block pageTitle %}
  {{ metaTitle }}
{% endblock %}

{% block head %}
  <meta property="fb:app_id" content="{{fbAppId}}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{{fullurl}}"/>
  <meta property="og:title" content="{{metatitle}}"/>
  <meta property="og:description" content="{{metadescription}}"/>
  <meta property="keywords" content="{{metakeywords}}"/>
  <meta property="description" content="{{metadescription}}"/>
  <meta name="google-site-verification" content="hjukuejt64a0rbduxxtbniknb4_cz3x3hlxoxk4_ox8"/>
  <link href="{{ assetPath }}/stylesheets/application.css" rel="stylesheet"/>
  <link href="cookie.css" rel="stylesheet"/>
  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <script src="//cdn.polyfill.io/v2/polyfill.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
{% endblock %}

{% block header %}
  {# <div id="global-cookie-message" class="cookie-banner no-print" role="region" aria-label="cookie banner">
      <div class="govuk-width-container">
        <p class="govuk-body">
          This website only stores the cookies that are essential to make it work. Read more about <a class="govuk-link" href="cookies">how we use cookies</a>
        </p>
        <button id="close-global-cookie-message" class="govuk-button govuk-!-margin-bottom-0" type="submit">Close</button>
      </div>
    </div> #}

  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    containerClasses: "govuk-width-container",
    serviceName: serviceName,
    serviceUrl: "/"
  }) }}

{% endblock %}

{%block bodyStart%}
  {{ govukCookieBanner({
    "classes": "js-cookies-banner",
    "messages": [
        {
            "headingText": "Cookies on Flood Map For Planning",
            "text": "We use analytics cookies to help understand how users use our service.",
            "actions": [
                {
                    "text": "Accept analytics cookies",
                    "type": "button",
                    "classes": "js-cookies-button-accept"
                },
                {
                    "text": "Reject analytics cookies",
                    "type": "button",
                    "classes": "js-cookies-button-reject"
                },
                {
                    "text": "View cookie preferences",
                    "href": "cookies"
                }
            ],
            "classes": "js-question-banner"
        },
        {
            "text": "Your cookie preferences have been saved. You have accepted cookies.",
            "role": "alert",
            "actions": [
                {
                    "text": "Hide this message",
                    "type": "button",
                    "classes": "js-hide"
                }
            ],
            "classes": "js-cookies-accepted",
            "hidden": true
        },
        {
            "text": "Your cookie preferences have been saved. You have rejected cookies.",
            "role": "alert",
            "actions": [
                {
                    "text": "Hide this message",
                    "type": "button",
                    "classes": "js-hide"
                }
            ],
            "classes": "js-cookies-rejected",
            "hidden": true
        }
    ]
    }) }}
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}{% endblock %}

{% block bodyEnd %}

  {% include "partials/exit-survey-dialog.html" %}

  {# DEBUG 
  <details>
    <summary>DEBUG</summary>
    <pre>{{ model | dump(2) | safe }}</pre>
  </details>
  #}

  {# Google Analytics #}
  {% if gaAccId %}
    <script type="text/javascript">
      var analyticsAccount = '{{gaAccId}}';
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        },
        i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m
          .parentNode
          .insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga')

      ga('create', analyticsAccount, 'auto')
      ga('send', 'pageview')
    </script>
  {% endif %}
  <script>
    var acceptButton = document.querySelector('.js-cookies-button-accept')
    var rejectButton = document.querySelector('.js-cookies-button-reject')
    var acceptedBanner = document.querySelector('.js-cookies-accepted')
    var rejectedBanner = document.querySelector('.js-cookies-rejected')
    var questionBanner = document.querySelector('.js-question-banner')
    var cookieBanner = document.querySelector('.js-cookies-banner')
    function showBanner(banner) {
      questionBanner.setAttribute('hidden', 'hidden')
      banner.removeAttribute('hidden')
      // Shift focus to the banner
      banner.setAttribute('tabindex', '-1')
      banner.focus()
      banner.addEventListener('blur', function () {
        banner.removeAttribute('tabindex')
      })
    }
    acceptButton.addEventListener('click', function (event) {
      showBanner(acceptedBanner)
      event.preventDefault()
    })
    rejectButton.addEventListener('click', function (event) {
      showBanner(rejectedBanner)
      event.preventDefault()
    })
    acceptedBanner
      .querySelector('.js-hide')
      .addEventListener('click', function () {
        cookieBanner.setAttribute('hidden', 'hidden')
      })
    rejectedBanner
      .querySelector('.js-hide')
      .addEventListener('click', function () {
        cookieBanner.setAttribute('hidden', 'hidden')
      })

    
    function setCookie(key, value){
       document.cookie = `${key}=${value}; max-age=31536000;`
    }
    function getCookie(key){
    var cookies = document.cookie
          .split(';')
          .map(cookie => cookie.split('='))
          .reduce((acc, [key, value]) => ({...acc,[key.trim()]: value}), {})
        return cookies[key]
    }
    var cookieName = `GA`
    var doesCookieExist=getCookie(cookieName)
    window.onload = () => {
            var acceptFn = () =>{            
          setCookie(cookieName,"Accept")
             cookieBanner.setAttribute('hidden', 'hidden')
          }
          acceptButton.addEventListener('click', acceptFn)
          if (!doesCookieExist) {
            questionBanner
              .classList
              .remove('hidden')
          }else{
            cookieBanner.setAttribute('hidden', 'hidden')
          }
            var rejectFn = () =>{            
          setCookie(cookieName,"Reject")
             cookieBanner.setAttribute('hidden', 'hidden')
          }
          rejectButton.addEventListener('click', rejectFn)
          if (!doesCookieExist) {
            questionBanner
              .classList
              .remove('hidden')
          }else{
            cookieBanner.setAttribute('hidden', 'hidden')
          }
      }
  </script>

  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="{{ assetPath }}/all.js"></script>
  <!-- <script src="{{ assetPath }}/javascripts/components/a11y-dialog.js"></script> -->
  <script>
    window
      .GOVUKFrontend
      .initAll()
  </script>
  <!-- <script src="{{ assetPath }}/javascripts/exit-survey.js"></script> -->
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://www.gov.uk/help",
          text: "Help"
        },
        {
          href: "/cookies",
          text: "Cookies"
        },
        {
          href: "/accessibility",
          text: "Accessibility"
        },
        {
          href: "/privacy-policy",
          text: "Privacy policy"
        },
        {
          href: "/terms-conditions",
          text: "Terms and conditions"
        },
        {
          href: "https://www.gov.uk/contact",
          text: "Contact"
        },
        {
          href: "/privacy-notice",
          text: "Privacy notice"
        },       
        {
          href: "https://www.gov.uk/cymraeg",
          text: "Cymraeg"
        },
        {
          href: "https://www.gov.uk/government/organisations/environment-agency",
          text: "Built by the Environment Agency"
        }
      ]
    }
  }) }}
{% endblock %}