{% extends "template.njk" %}
{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{% from "footer/macro.njk" import govukFooter %}
{% from "cookie-banner/macro.njk" import govukCookieBanner %}
{% from "button/macro.njk" import govukButton %}
{% from "back-link/macro.njk" import govukBackLink %}

{% set metaTitle = (pageTitle or model.pageTitle or 'Flood map for planning') + ' - GOV.UK' %}
{% set metaDescription = model.metadata.description | default('Flood map for planning Service : Flood map for planning') %}
{% set metaKeywords = model.metadata.keywords | default('flood,mapfor,planning,service,gov,uk') %}

{% block pageTitle %}
  {{ metaTitle }}
{% endblock %}

{% block head %}
  <meta property="fb:app_id" content="{{fbAppId}}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{{fullurl}}"/>
  <meta property="og:title" content="{{metatitle}}"/>
  <meta property="og:description" content="{{metadescription}}"/>
  <meta property="keywords" content="{{metakeywords}}"/>
  <meta property="description" content="{{metadescription}}"/>
  <meta name="google-site-verification" content="hjukuejt64a0rbduxxtbniknb4_cz3x3hlxoxk4_ox8"/>
  <link href="{{ assetPath }}/stylesheets/application.css" rel="stylesheet"/>
  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <script src="//cdn.polyfill.io/v2/polyfill.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    containerClasses: "govuk-width-container",
    serviceName: serviceName,
    serviceUrl: "/"
  }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    classes: "govuk-width-container",
    html: 'This is a new service – your <a class="govuk-link" href="/feedback">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{%block bodyStart%}
{% set acceptHtml %}
  <p>You’ve accepted analytics cookies. You can <a href="#">change your cookie settings</a> at any time.</p>
{% endset %}

{% set rejectHtml %}
  <p>You’ve rejected analytics cookies. You can <a href="#">change your cookie settings</a> at any time.</p>
{% endset %}

{{ govukCookieBanner({
  ariaLabel: "Cookies on Flood Map For Planning",    
  classes: "js-cookies-banner govuk-visually-hidden",
  messages: [
    {
      headingText: "Cookies on Flood Map For Planning",
      text: "We use analytics cookies to help understand how users use our service.",
      hidden:true,
      actions: [
        {
          text: "Accept analytics cookies",
          type: "button",
          classes: "js-cookies-button-accept"
        },
        {
          text: "Reject analytics cookies",
          type: "button",
          classes: "js-cookies-button-reject"
        },
        {
          text: "View cookie preferences",
          href: "cookies"
        }
      ],
      classes: "js-question-banner"
    },
    {
      html: acceptHtml,
      role: "alert",
      hidden: true,
      actions: [
        {
          text: "Hide this message"
        }
      ],
      classes: "js-cookies-accepted"
    },
    {
      html: rejectHtml,
      role: "alert",
      hidden: true,
      actions: [
        {
          text: "Hide this message"
        }
      ],
      classes: "js-cookies-rejected"
    }
  ]
}) }}
{% endblock %}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block bodyEnd %}

  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="{{ assetPath }}/all.js"></script>
  <script src="{{ assetPath }}/javascripts/core.js"></script>
  <!-- <script src="{{ assetPath }}/javascripts/components/a11y-dialog.js"></script> -->
  <script>
    window
      .GOVUKFrontend
      .initAll()
  </script>
  <!-- <script src="{{ assetPath }}/javascripts/exit-survey.js"></script> -->
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://www.gov.uk/help",
          text: "Help"
        },
        {
          href: "/cookies",
          text: "Cookies"
        },
        {
          href: "/accessibility",
          text: "Accessibility"
        },
        {
          href: "/privacy-policy",
          text: "Privacy policy"
        },
        {
          href: "/terms-conditions",
          text: "Terms and conditions"
        },
        {
          href: "https://www.gov.uk/contact",
          text: "Contact"
        },
        {
          href: "/privacy-notice",
          text: "Privacy notice"
        },       
        {
          href: "https://www.gov.uk/cymraeg",
          text: "Cymraeg"
        },
        {
          href: "https://www.gov.uk/government/organisations/environment-agency",
          text: "Built by the Environment Agency"
        }
      ]
    }
  }) }}
{% endblock %}
