{% extends 'layout.html' %}
{% set pageTitle = 'Find the location' %}
{% set backLinkUrl = '/triage' %}

{% block content %}
  {{ super() }}

  {% from "radios/macro.njk" import govukRadios %}
  {% from "input/macro.njk" import govukInput %}
  {% from "button/macro.njk" import govukButton %}
  {% from "error-summary/macro.njk" import govukErrorSummary %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds"> 
      <form autocomplete="off" id='location-form' method="post" action="/location" novalidate>
        {% if errorSummary.length > 0 %}
          {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errorSummary
            }) 
          }}
          <div class="hide" data-journey="{{ analyticsPageEvent }}"></div>
        {% endif %}

        {% set placeOrPostcodeHtml %}
        {{ govukInput({
          id: "placeOrPostcode",
          name: "placeOrPostcode",
          type: "text",
          classes: "govuk-!-width-one-third",                          
          value: placeOrPostcode,                     
          errorMessage: findErrorMessageById(errorSummary, "placeOrPostcode"),
          spellcheck: false,
          hint: {
            text: "For example, Bakewell or WA4 1AB"
          },
          label: {
            text: 'Place or postcode',
            classes: 'visually-hidden',
            for: "placeOrPostcode",
            isPageHeading: false
          }
        })}}
        {% endset -%}

        {% set nationalGridReferenceHtml %}
        {{ govukInput({
          id: "nationalGridReference",
          name: "nationalGridReference",
          type: "text",
          classes: "govuk-!-width-one-third",                          
          value: nationalGridReference,                        
          errorMessage: findErrorMessageById(errorSummary, "nationalGridReference"),
          hint: {
            text: "For example, SJ8632197947 (10 or 12 digits)"
          },
          label: {
            text: 'National Grid Reference (NGR)',
            classes: 'visually-hidden',
            for: "nationalGridReference",
            isPageHeading: false
          }
        })}}
        {% endset -%}

        {% set eastingNorthingHtml %}
        <div id="eastings-northings-hint" class="govuk-hint">
          Eastings and northings should only include numbers.  For example: 123456
        </div>
        {{ govukInput({
            id: "easting",
            name: "easting",
            type: "number",
            inputmode: "numeric",
            pattern: "[0-9]*",
            classes: "govuk-!-width-one-third",
            value: easting,                
            errorMessage: findErrorMessageById(errorSummary, "easting"),
            label: {
              text: 'Easting',
              for: "easting",
              isPageHeading: false
            }
        })}}
        {{ govukInput({
          id: "northing",
          name: "northing",
          type: "number",
          inputmode: "numeric",
          pattern: "[0-9]*",
          classes: "govuk-!-width-one-third",
          value: northing,                      
          errorMessage: findErrorMessageById(errorSummary, "northing"),
          label: {
            text: 'Northing',
            for: "northing",
            classes: "govuk-!-margin-top-3",
            isPageHeading: false
          }
        })}}
        {% endset -%}

        {{ govukRadios({
          name: "findby",
          fieldset: {
            legend: {
              text: pageTitle,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "Choose an option to search for a location or skip straight to the map"
          },
          items: [
            {
              value: "placeOrPostcode",
              text: "Place or postcode",
              conditional: {
                html: placeOrPostcodeHtml
              },
              checked: findby === 'placeOrPostcode'
            },
            {
              value: "nationalGridReference",
              text: "National Grid Reference (NGR)",
              conditional: {
                html: nationalGridReferenceHtml
              },
              checked: findby === 'nationalGridReference'
            },
            {
              value: "eastingNorthing",
              text: "Easting and northing",
              conditional: {
                html: eastingNorthingHtml
              },
              checked: findby === 'eastingNorthing'
            }  
          ],
          errorMessage: findErrorMessageById(errorSummary, "findby")
        })}}
        <p class="govuk-body">
          <a href="/map">Skip to map</a>
        </p>
        {{ govukButton({
          text: "Continue",
          preventDoubleClick: true
        })}}
      </form>
    </div>
  </div>
</div>
{% endblock %}
