{% extends 'layout.html' %}
{% block content %}
  {% from "radios/macro.njk" import govukRadios %}
  {% from "input/macro.njk" import govukInput %}
  {% from "button/macro.njk" import govukButton %}
  {% from "error-summary/macro.njk" import govukErrorSummary %}
  {% from "back-link/macro.njk" import govukBackLink %}
   {{ govukBackLink({
                      text: 'Back',
                       href: 'javascript:history.back()'
                   })
   }}
<form autocomplete="off" class="form" method="post" action="/location">
  {% if errorSummary.length > 0 %}
    {{ govukErrorSummary({
                                titleText: "There is a problem",
                                errorList: errorSummary
                            }) 
        }}
  {% endif %} 

  {% set placeOrPostcodeHtml %}
  {{ govukInput({
                        id: "placeOrPostcode",
                        name: "placeOrPostcode",
                        type: "text",
                        classes: "govuk-!-width-one-third",
                        label: {
                                  text: "For example, Bakewell or WA4 1AB"
                               },   
                         value:placeOrPostcode,                     
                        errorMessage: placeOrPostcodeError
                      })

        }}
  {% endset -%}

  {% set nationalGridReferenceHtml %}
  {{ govukInput({
                        id: "nationalGridReference",
                        name: "nationalGridReference",
                        type: "text",
                        classes: "govuk-!-width-one-third",
                        label: {
                                  text: "For example, NY395557 (6, 8 or 12 digits)"
                               },     
                        value:nationalGridReference,                        
                        errorMessage: nationalGridReferenceError
                      })
        }}
  {% endset -%}

  {% set eastingNorthingHtml %}
  {{ govukInput({
                        id: "easting",
                        name: "easting",
                        type: "text",
                        classes: "govuk-!-width-one-third",
                        label: {
                                  text: "For example, 123456 123456"
                               },     
                        value :easting,                
                        errorMessage: eastingError
                      })
        }}
        {{ govukInput({
                        id: "northing",
                        name: "northing",
                        type: "text",
                        classes: "govuk-!-width-one-third",
                        value :northing,                      
                        errorMessage: northingError
                      })
        }}
  {% endset -%}

  {{ govukRadios({
                            idPrefix: "findby",
                            name: "findby",
                            fieldset: {
                                        legend: {
                                                    text: "Find the location",
                                                    isPageHeading: true,
                                                    classes: "govuk-fieldset__legend--l"
                                                }
                                      },
                            hint: {
                                    text: "Select one option."
                                  },
                                    items: [
                                              {
                                                 value: "placeOrPostcode",
                                                 text: "Place or Postcode",
                                                 conditional: {
                                                   html: placeOrPostcodeHtml
                                                 },
                                                   checked:placeOrPostcodeSelected
                                               },
                                               {
                                                 value: "nationalGridReference",
                                                 text: "National Grid Reference (NGR)",
                                                 conditional: {
                                                   html: nationalGridReferenceHtml
                                                 },
                                                   checked:nationalGridReferenceSelected
                                               }    ,
                                               {
                                                 value: "eastingNorthing",
                                                 text: "Easting and Northing",
                                                 conditional: {
                                                   html: eastingNorthingHtml
                                                 },
                                                 checked:eastingNorthingSelected
                                               }  
                                           ],
                                            errorMessage: errors["findby"]
                        })
          }}

  {{ govukButton({
                    text: "Continue",
                     preventDoubleClick: true
                })
   }}
</form>
{% endblock %}