{% extends "layout.html" %}

{% block pageTitle %}
Login Page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">
            Login Page
          </h1>
      </legend>

      <div class="govuk-form-group">

        <form method="post" novalidate>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="username">
                username
              </label>
            <input class="govuk-input" id="username" name="username" type="text" autocomplete="name"
                spellcheck="false">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="password">
                password
              </label>
            <input class="govuk-input" id="password" name="password" type="password" autocomplete="password"
                spellcheck="false">
          </div>
          <div>
            <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
                Login
              </button>
          </div>

        </form>
      </div>
    </div>
  </div>

{% endblock %}