<link rel="stylesheet" type="text/css" href="{{{assetPath}}}stylesheets/login/index.css">
<div class="main-container">
  <main id="login-page" role='main'>
    <form autocomplete="off" class="form" method="post" action="/">
      <div class="grid-row">
        <div class="column-two-thirds">
          <legend>
            <h1 class="heading-medium">
              Please enter login details
            </h1>
          </legend>
          <div class="form-group nojs-hide ie-hide">
            <div class="form-group">
              <label class="form-label" for="userName">
                Username
              </label>
              <input class="form-control" id="userName" name="username" type="text" autocomplete="false"
                spellcheck="false">
            </div>
            <div class="form-group">
              <label class="form-label" for="password">
                Password
              </label>
              <!-- <span id="password-hint" class="form-hint">Password to login</span> -->
              <input class="form-control" id="password" name="password" type="password" aria-describedby="password-hint"
                autocomplete="false" spellcheck="false">
            </div>
            <div>
              <input type="hidden" value={{userName}} name="userName" />
            </div>
    </form>
    <div class="form-group">
      <button class="button" type="submit">Login</button>
    </div>
</div>
</div>
</div>
</main>
</form>
</div>