{% extends "layout.html" %}

{% set bodyClasses = "flood-map" %}

{% block head %}
  {{ super() }}
  <link href="/public/defra-map/main.css" rel="stylesheet"/>
{% endblock %}

{% block bodyStart %}
  {{ super() }}
  <script>
    document.body.classList.add('fm-js-hidden')
  </script>
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    containerClasses: "govuk-header",
    serviceName: serviceName,
    serviceUrl: "/"
  }) }}
{% endblock %}


{% block pageTitle %}
  Map – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %} {% endblock %}  

{% block main %}
{% block content %}
  <main class="flood-map-main" id="main-content">
    <h1 class="govuk-visually-hidden">Interactive map showing flood planning data</h1>
    <div class="flood-map-target" id="map"></div>
  </main>

  <script src="/public/defra-map/main.js"></script>

{% endblock %}
{% endblock %}

{% block footer %} {% endblock %}