{% extends "layout.html" %}
{% block pageTitle %}
  Next steps - Flood map for planning - GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl">
        Next steps for your planning application
      </h1>
      <h3 class="govuk-heading-m">
        Decide what you need for your planning application
      </h3>
      <p class="govuk-body">
        Contact your local planning authority to check their requirements.
      </p>
      <p class="govuk-body">
        Get a Flood Risk Assessment (FRA). You will normally need to pay a flood risk specialist to carry it out.
      </p>
      <p class="govuk-body">For developments in flood zone 3 your FRA should include an assessment of all sources of
        flooding and
        <a href="">take into account climate change allowances</a>.
      </p>
      <p class="govuk-body">
        Find out <a href="#">how to do an assessment</a>.
      </p>
      <p class="govuk-body">
        To find out about other factors that might affect the flood risk of this location, you should also check:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="https://www.gov.uk/check-long-term-flood-risk">surface water, groundwater and reservoir flood risk </a>
        </li>
        <li>
          the <a href="https://www.bgs.ac.uk/datasets/groundwater-flooding/">British Geological Survey groundwater
            flooding data</a>, <a
            href="https://www.gov.uk/government/collections/groundwater-current-status-and-flood-risk">groundwater:
            current status and flood risk</a> and the guide on <a
            href="https://www.gov.uk/guidance/mining-and-groundwater-constraints-for-development">mining and groundwater
            constraints for development</a> for information on groundwater flood risk
        </li>
        <li>
          your local planning authority's strategic flood risk assessment (SFRA), which includes future flood risk.
        </li>
      </ul>

      <h3 class="govuk-heading-m">
        Other data you may need
      </h3>

      <p class="govuk-body">You will also need to assess <a
          href="https://www.gov.uk/guidance/flood-risk-and-coastal-change#para41">residual
          risk</a> from flood defence breach in this location. If available, we will provide breach hazard mapping data to
        help you do this. </p>

      <h3 class="govuk-heading-m">
        Get help
      </h3>

      <p class="govuk-body">
        For help deciding what flood risk information you need, email the Environment Agency team in ((AreaName)) at
        ((PSOEmail))
      </p>

      <h3 class="govuk-heading-m">
        Download a flood map for this location
      </h3>

      <p class="govuk-body">The flood map is suitable for a local planning authority to use when checking a planning
        application to see if a
        development is:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          in flood zone 1, 2 or 3
        </li>
        <li>
          within 20 meters of a main river or a flood defence
        </li>
        <li>
          in a water storage area
        </li>
      </ul>

      {% include "./partials/product-1-form.html" %}

      <!-- <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Download flood map for this location (PDF)
      </button> -->

      <h3 class="govuk-heading-m">
        Order detailed flood risk data
      </h3>

      <p class="govuk-body">
        Order detailed flood risk information to be used for a flood risk assessment as part of a planning application.
      </p>
      <a href="contact?polygon={{polygon}}" class="govuk-button" data-module="govuk-button" data-testid="order-product4">
        Order flood risk data
      </a>

    </div>
  </div>
{% endblock %}