
{% extends "layout.html" %}
{% from "back-link/macro.njk" import govukBackLink %}
{% block content %}
 <main class="text" id="not-england-page">
   {{ govukBackLink({
                      text: 'Back',
                       href: 'javascript:history.back()'
                   })
   }}
 
  <header>
    <h1 class="heading-xlarge">We provide flood probability information for England only</h1>
  </header>
  <p>
    Flood probability information for Northern Ireland is available from the 
    <a href="http://www.planningni.gov.uk/index/advice/northern_ireland_environment_agency_guidance.htm" rel="external" data-journey-click="FMFP:NotInEnglandPage:NIPP">Northern Ireland Planning Portal</a>
  </p>
  <p>
    Flood probability information for Scotland is available from the 
    <a href="http://www.sepa.org.uk/environment/water/flooding" rel="external" data-journey-click="FMFP:NotInEnglandPage:SEPA">Scottish Environment Protection Agency</a>
  </p>
  <p>
    Flood probability information for Wales is available from  
    <a href="https://naturalresources.wales" rel="external" data-journey-click="FMFP:NotInEnglandPage:NRW">Natural Resources Wales</a>
  </p>
  <p>
    In England, you can use the <a href="/">Flood map for planning</a>.
  </p>
</main>
{% endblock %}
