<link rel="stylesheet" type="text/css" href="{{{assetPath}}}stylesheets/home/index.css">
<main id="os-terms">
  <h1 class="heading-xlarge">Ordnance Survey terms and conditions</h1>
  <p>
    Addressing information and mapping data from Ordnance Survey is &#169; Crown copyright and database rights {{year}}
    <a href='http://www.ordnancesurvey.co.uk'>OS</a> 100024198. Use of this data is subject to the following
    conditions by way of exception to the standard Open Government Licence referred to at the foot of this page:
  </p> 
  <p><strong class="bold-small">Terms and Conditions</strong></p>
  <p>
    I. You are granted a non-exclusive, royalty free revocable licence solely to view the licensed mapping and addressing data for non-commercial
    purposes for the period during which we make it available;
  </p>
  <p>
    II. You are not permitted to copy, sub-license, distribute, sell or otherwise make available such data to third parties in any form; and
  </p>
  <p>
    III. Third party rights to enforce the terms of this licence shall be reserved to OS.
  </p>
</main>