<html>

<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex">
  <title>
    Product 1 - Flood map for planning - GOV.UK
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#1d70b8">
  <link rel="icon" sizes="48x48" href="/assets/images/favicon.ico">
  <link rel="icon" sizes="any" href="/assets/images/favicon.svg" type="image/svg+xml">
  <link rel="mask-icon" href="/assets/images/govuk-icon-mask.svg" color="#1d70b8">
  <link rel="apple-touch-icon" href="/assets/images/govuk-icon-180.png">
  <link rel="manifest" href="/assets/manifest.json">
  <link href="/assets/application.css" rel="stylesheet">
  <link href="{{ assetPath }}/check-your-details.css" rel="stylesheet"/>
</head>

<body class="govuk-template__body js-enabled govuk-frontend-supported">

  <div class="govuk-width-container">
    <div class="govuk-main-wrapper govuk-main-wrapper--l">
      <!-- HEADING -->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-l">
            Flood map for planning
          </h1>
        </div>
      </div>
      <!-- Parameters -->
      <div class="govuk-grid-row">
        <!-- REFERENCE -->
        <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-s"> Your reference </h3>
          <p class="govuk-body"> {{ reference }} </p>
        </div>
        <!-- LOCATION -->
        <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-s"> Location (easting/northing) </h3>
          <p class="govuk-body"> {{ location }} </p>
        </div>
        <!-- Date -->
        <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-s"> Created </h3>
          <p class="govuk-body"> {{ createdDate }} </p>
        </div>
      </div>
      <!-- Flood Zone Heading -->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
            data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__content">
              Your selected location is in flood zone {{ floodZone }},
              an area with a {{ riskLikelihood }} probability of flooding.
            </div>
          </div>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <!-- Flood Zone 1 -->
          {% if floodZone === '1' %}
          <p class="govuk-body">
            You will need to do a flood risk assessment if your site is <strong>any of the following:</strong>
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              bigger than 1 hectare (ha)
            </li>
            <li>
              in an area with critical drainage problems as notified by the Environment Agency
            </li>
            <li>
              identified as being at increased flood risk in future by the local authority's
              strategic flood risk assessment
            </li>
            <li>
              at risk from other sources of flooding (such as surface water or reservoirs)
              and its development would increase the vulnerability of its use (such as
              constructing an office on an undeveloped site or converting a shop to a
              dwelling)
            </li>
          </ul>
          {% endif %}
          <!-- Flood Zones 2 and 3 -->
          {% if floodZone === '2' or floodZone === '3' %}
          <h3 class="govuk-heading-s"> This means</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              you must complete a flood risk assessment for development in this area
            </li>
            <li>
              you should follow the Environment Agency's standing advice for carrying
              out a flood risk assessment (see <a class="govuk-link"
                href="https://www.gov.uk/guidance/flood-risk-assessment-standing-advice">
                https://www.gov.uk/guidance/flood-risk-assessment-standing-advice </a>)
            </li>
          </ul>
          {% endif %}
        </div>
      </div>

      <!-- Notes -->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h3 class="govuk-heading-s"> Notes </h3>
          <p class="govuk-body">
            The flood map for planning shows river and sea flooding data only. It doesn't
            include other sources of flooding. It is for use in development planning and flood
            risk assessments.
          </p>
          <p class="govuk-body">
            This information relates to the selected location and is not specific to any property
            within it. The map is updated regularly and is correct at the time of printing.
          </p>
          <p class="govuk-body">
            Flood risk data is covered by the Open Government Licence which sets out the
            terms and conditions for using government data.
            <a class="govuk-link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">
              https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3
            </a>
          </p>
          <p class="govuk-body">
            Use of the address and mapping data is subject to Ordnance Survey public
            viewing terms under Crown copyright and database rights 2026 AC0000807064.
            <a class="govuk-link" href="https://flood-map-for-planning.service.gov.uk/os-terms">
              https://flood-map-for-planning.service.gov.uk/os-terms
            </a>
          </p>
        </div>
      </div>
      <!-- MAP -->
      <div class="govuk-grid-row">
        <figure class="map-container product-1-map govuk-!-margin-bottom-6">
          <div id="map--result" class="map--result">
            <div id="map" class="map"></div>
          </div>
        </figure>
      </div>
      <div class="govuk-grid-row">
        <h3 class="">Screenshot Here</h3>
        <img id="screenshot-image" />
        <div id="screenshot-not-ready"></div>
      </div>
    </div>
  </div>
  <script src="{{ assetPath }}/product-1-client.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      showMapAsImage({{ polygon }})
    })
  </script>
</body>

</html>