<link rel="stylesheet" type="text/css" href="{{{assetPath}}}stylesheets/ol.css">
<link rel="stylesheet" type="text/css" href="{{{assetPath}}}stylesheets/summary/index.css">
<link rel="stylesheet" type="text/css" href="{{{assetPath}}}stylesheets/map/index.css">
<main id="summary-page" data-test-info="{{riskJSON}}">
  <h1 class="heading-xlarge">Flood risk summary</h1>
  {{#unless isZone1}}<p>Your proposed development is in or near an area at risk of flooding</p>{{/unless}}
  <div class="grid-row">
    <div class="column-half summary-column">
      {{#if isAreaBenefiting}}
        {{> summary/area-benefiting}}
      {{else}}
        {{#if isZone3}}
          {{> summary/zone3}}
        {{else}}
          {{#if isZone2}}
            {{> summary/zone2}}
          {{else}}
            {{> summary/zone1}}
          {{/if}}
        {{/if}}
      {{/if}}
    </div>
    <div class="column-half map-column">
      <div class="map-container">
        <div class="mobile-heading">
          <h2 class="heading-medium">Map</h2>
          <a href="#legend">View map key</a>
        </div>
        <div id="map" class="map"></div>
        <div class="enter-fullscreen toggle-fullscreen ol-full-screen ol-control hidden-mobile">
          <button class="ol-full-screen-false" type="button" title="Full screen"><i class="fa fa-enlarge2"></i></button>
        </div>
        <div class="exit-fullscreen toggle-fullscreen ol-full-screen ol-control hidden-mobile">
          <button class="ol-full-screen-true" type="button" title="Exit full screen">×</button>
        </div>         
        <div class="rhs">
          <aside class="controls" id="legend">
          {{> map/summary-legend}}
          </aside>
        </div>
      </div>
    </div>
  </div>
<div class="grid-row more">
  <div class="column-full">
    <a href="/">Find out about the flood risk for another location</a>
  </div>
</div>
<div class="visible-mobile"></div>
</main>
<script src="{{{assetPath}}}javascripts/summary.js"></script>
<script>
  $(function () {
    var isMobile = false
    if ($('.visible-mobile:visible').length > 0) {
      isMobile = true
    }
    var height = !isMobile ? $('.summary-column').height() : 450

    var page = new FMP.SummaryPage({
      easting: '{{easting}}',
      northing: '{{northing}}',
      mapHeight: height
    })
  })
</script>
