{% extends "layout.html" %}
{% from "radios/macro.njk" import govukRadios %}
{% from "error-summary/macro.njk" import govukErrorSummary %}

{% set pageHeading = 'What flood information do you need' %}

{% block pageTitle %}
  {{ pageHeading }} - Flood map for planning - GOV.UK
{% endblock %}

{% block content %}
{{ super() }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form autocomplete="off" id='triage-form' method="post" action="/triage" novalidate>
      {% if errorSummary.length > 0 %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorSummary
          })
        }}
      {% endif %}
      {{ govukRadios({
        name: "triageOptions",
        fieldset: {
          legend: {
            text: pageHeading + "?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        errorMessage: findErrorMessageById(errorSummary, "location"),
        items: [
          {
            id: "location",
            value: "location",
            text: "For planning purposes or scoping a site",
            hint: { text: "You will be taken to the flood map for planning service" }
          },
          {
            id: "buy-sell",
            value: "buy-sell",
            text: "For buying, selling or valuing a property",
            hint: { text: "You will be taken to the check your long term flood risk service" }
          },
          {
            id: "flood-history",
            value: "flood-history",
            text: "To check if an area has flooded in the past",
            hint: { text: "You will be taken to information on how to request a flood history report" }
          },
          {
            id: "insurance",
            value: "insurance",
            text: "For insurance purposes, to find out if I am at risk of flooding",
            hint: { text: "You will be taken to the check your long term flood risk service" }
          },
          {
            id: "other",
            value: "other",
            text: "My reason is not listed here",
            hint: { text: "Find other flood information on GOV.UK" }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true
      })}}
    </form>
  </div>
</div>

{% endblock %}
