{% extends "layout.html" %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "file-upload/macro.njk" import govukFileUpload %}
{% from "error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitle = 'Upload a boundary' %}

{% block content %}
<div id="errorSummary" class="govuk-error-summary" data-module="govuk-error-summary" data-govuk-error-summary-init="" style="display:none;">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <p id="errorMessage"></p>
        </li>
      </ul>
    </div>
  </div>
</div>
<h1 id="heading" class="govuk-heading-xl">{{ pageTitle }}</h1>
<div class="govuk-form-group">
  <label class="govuk-label" for="boundary">
    Shape files (.zip) - max size 1MB
  </label>
  <input class="govuk-file-upload" id="boundary" type="file" accept=".zip">
</div>
<button id="upload" type="submit" class="govuk-button" data-module="govuk-button">Upload</button>
{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script src="{{ assetPath }}/upload-shape-file.js"></script>
{% endblock %}