@import "colours";
@import "typography";
@import "css3";

#confirmation-page {
  .panel-confirmation {
    padding-top: 40px;
    padding-bottom: 40px;
    color:#ffffff;
    background:#00703c;
    padding: 35px;
    text-align: center;
  }

  #map{
    cursor: crosshair;
  }
}


