@import "colours";
@import "typography";

#map-overlay {
  display: none;
  position: absolute;
  top: 2px;
  left: 10px;
  bottom: 2px;
  right: 2px;
  z-index: 101;

  @include media(mobile) {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: solid 2px $yellow;
  }

  background-color: #fff;

  .map-overlay-container {
    height: 100%;
    padding: 10px;
    box-sizing: border-box;

    .map-overlay-content {
      position: absolute;
      bottom: 0;
      top: 0;
      overflow: auto;

      .heading-large {
        margin-top: 10px;
        padding-right: 70px;
      }

      .heading-large {
        margin-top: 10px;
      }
    }

    .map-overlay-close {
      cursor: pointer;
      position: absolute;
      width: 45px;
      height: 45px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(../../images/icon-close.png);
      z-index: 1;
      right: 20px;
      background-color: #fff;

      @include media(mobile) {
        width: 25px;
        height: 25px;
      }
    }
  }
}
