@import "colours";
@import "typography";
@import "css3";
@import '../map';

#confirm-location-page {
  .marker-indicator {
    height: 30px;
    vertical-align: middle;
  }

  .radio-button-group {
    font-size: 14px;
    position: absolute;
    top: 12px;
    left: 60px;
    z-index: 1;
    clear: both;
    line-height: 1.5;
  }
  
  .radio-button {
    position: absolute;
    left: -9999em;
    
    & + label {
      float: left;
      padding: .1em .2em;
      cursor: pointer;
      border: 1px solid rgba(255, 255, 255, 0.4);
      margin-right: -1px;
      color: #fff;
      background-color: rgba(0, 60, 136, 0.5);
      // background-color: #428bca;
      
      &:first-of-type {
        border-radius: .2em 0 0 .2em;
      }
      
      &:last-of-type {
        border-radius: 0 .2em .2em 0;
      }
    }
    
    &:checked + label {
      background-color: rgba(0, 60, 136, 0.7);
    }
  }

  &.fullscreen {
    .map, .map-container {
      height: 100%;
    }
  }
}