@import "colours";
@import "typography";
@import "css3";
@import '../map';

#confirm-location-page {
  .marker-indicator {
    height: 30px;
    vertical-align: middle;
  }

  .radio-button-group {
    font-size: 14px;
    position: absolute;
    top: 12px;
    left: 60px;
    z-index: 1;
    clear: both;
    line-height: 1.5;
    input[value='point'] + label {
      background-color: rgba(0, 60, 136, 0.7);
    }
    input[value='polygon'] + label {
      background-color: rgba(0, 60, 136, 0.5);
    }
    input[value='deletePolygon'] + label {
      background-color: rgba(0, 60, 136, 0.5);
    }

    &.polygon {
      input[value='point'] + label {
        background-color: rgba(0, 60, 136, 0.5);
      }
      input[value='polygon'] + label {
        background-color: rgba(0, 60, 136, 0.7);
      }
      input[value='deletePolygon'] + label {
        background-color: rgba(0, 60, 136, 0.7);
      }
    }
  }
  
  .radio-button {
    position: absolute;
    left: -9999em;
    
    & + label {
      float: left;
      padding: .1em .2em;
      cursor: pointer;
      border: 1px solid rgba(255, 255, 255, 0.4);
      margin-right: -1px;
      color: #fff;
      
      &:first-of-type {
        border-radius: .2em 0 0 .2em;
      }

      &:nth-of-type(2) {
        border-radius: 0 .2em .2em 0;
      }
      
      &:last-of-type {
        margin-left: 5px;
        border-radius: .2em .2em .2em .2em;
      }
    }
  }

  &.fullscreen {
    .map, .map-container {
      height: 100%;
    }
    .form-section {
      display: none!important;
    }
  }
  @include media(tablet) {
    .ol-full-screen, .ol-attribution {
      right: 135px;
    }
  }
}