<div class="zone3Ben">
    <div class="zone">
        <h2 class="heading-large">Flood zone 3</h2>
        <h3 class="heading-medium">area that benefits from flood defences</h3>
            <p>
                Planning authorities regard these areas as those likely to flood if nearby flood defences were not present
            </p>
        <a href="http://planningguidance.communities.gov.uk/blog/guidance/flood-risk-and-coastal-change/flood-zone-and-flood-risk-tables/table-1-flood-zones" rel="external">More information about flood zones</a>
    </div>
    <div class="next">
        <ol class="list list-number">
            <li>
                <div class="panel panel-border-wide">
                    You may need to do a <a href="https://www.gov.uk/guidance/flood-risk-assessment-for-planning-applications" rel="external">flood risk assessment</a> 
                    for development in an area benefiting from flood defences.
                </div>
            </li>
            <li>
                <div class="panel panel-border-wide">
                    Find out the level of flood protection offered at your development&#39;s location. You can 
                    do this by talking to your local Partnerships and Strategic Overview team. You&#39;ll also 
                    need to obtain a <a href="https://www.gov.uk/guidance/flood-risk-assessment-for-planning-applications#get-information-to-complete-an-assessment" rel="external">Flood Defence Breach Hazard Map</a> (this is also known as a &#39;Product 8&#39; by planning authorities).
                </div>
            </li>
            <li>
                <div class="panel panel-border-wide">
                    For some kinds of flood zone 3 development you must follow the 
                    <a href="https://www.gov.uk/guidance/flood-risk-assessment-standing-advice" rel="external">Environment Agency standing advice for doing a flood risk assessment</a>.
                </div>
            </li>
            <li>
                <div class="panel panel-border-wide">
                    You can also <a href="https://www.gov.uk/guidance/flood-risk-assessment-for-planning-applications" rel="external">read more about flood risk assessments for planning applications</a>.
                </div>
            </li>
        </ol>
    </div>
</div>