<div class="zone2">
    <div class="zone">
        <h2 class="heading-large">Flood zone 2</h2>
        <p>
        Planning authorities regard flood zone 2 areas as having a medium probability of flooding
        </p>
        <a href="http://planningguidance.communities.gov.uk/blog/guidance/flood-risk-and-coastal-change/flood-zone-and-flood-risk-tables/table-1-flood-zones" rel="external">More information about the flood zones</a>
    </div>
    <div class="next">
        <ol class="list list-number">
            <li>
                <div class="panel panel-border-wide">
                    You must do a <a href="https://www.gov.uk/guidance/flood-risk-assessment-for-planning-applications" rel="external">flood risk assessment</a> 
                    for development in Flood Zone 2.
                </div>
            </li>
            <li>
                <div class="panel panel-border-wide">
                    For some kinds of flood zone 2 development you must follow the 
                    <a href="https://www.gov.uk/guidance/flood-risk-assessment-standing-advice" rel="external">Environment Agency standing advice for doing a flood risk assessment</a>.
                </div>
            </li>
            <li>
                <div class="panel panel-border-wide">
                    You can also <a href="https://www.gov.uk/guidance/flood-risk-assessment-for-planning-applications" rel="external">read more about flood risk assessments for planning applications</a>.
                </div>
            </li>
        </ol>
    </div>
</div>