<div class="zone2">
  <div class="zone">
    <h2 class="heading-large">Flood zone 2</h2>
    <p>
      Land and property in flood zone 2 have a medium probability of flooding
    </p>
    <a href="http://planningguidance.communities.gov.uk/blog/guidance/flood-risk-and-coastal-change/flood-zone-and-flood-risk-tables/table-1-flood-zones">More information about flood zones</a>
  </div>
  <div class="next">
    <ol class="list list-number">
      <li>
        <div class="panel panel-border-wide">
          You must carry out a <a href="https://www.gov.uk/guidance/flood-risk-assessment-for-planning-applications">flood risk assessment</a> for development in flood zone 2
        </div>
      </li>
      <li>
        <div class="panel panel-border-wide">
          For some types of development in flood zone 2 you must follow the
          <a href="https://www.gov.uk/guidance/flood-risk-assessment-standing-advice">Environment Agency's standing advice for carrying out a flood risk assessment</a>
        </div>
      </li>
      <li>
        <div class="panel panel-border-wide">
          You can also <a href="https://www.gov.uk/guidance/flood-risk-assessment-for-planning-applications">read more about flood risk assessments for planning applications</a>
        </div>
      </li>
    </ol>
  </div>
</div>