<div class="zone1">
  <div class="zone">
    <h2 class="heading-large">Flood zone 1</h2>
    <p>
      Land and property in flood zone 1 have a low probability of flooding
    </p>
    <a href="http://planningguidance.communities.gov.uk/blog/guidance/flood-risk-and-coastal-change/flood-zone-and-flood-risk-tables/table-1-flood-zones" data-journey-click="FMFP:FloodZones:moreinfo">More information about flood zones</a>
  </div>
  <div class="next">
    <ol class="list list-number">
      <li>
        <div class="panel panel-border-wide">
          You don&#39;t need to do a <a href="https://www.gov.uk/guidance/flood-risk-assessment-for-planning-applications" data-journey-click="FMFP:FloodZone1:FloodRiskAssessment">flood risk assessment</a> if your selected location is in flood zone 1 and:
          <ul>
            <li>smaller than one hectare</li>
            <li>is not affected by sources of flooding other than rivers and the sea, for example surface water drains</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="panel panel-border-wide">
          If your selected location is in flood zone 1 and:
          <ul>
            <li>larger than one hectare</li>
            <li>is affected by sources of flooding other than rivers and the sea, for example surface water drains</li>
          </ul>
          you can <a href="https://www.gov.uk/guidance/flood-risk-assessment-in-flood-zone-1-and-critical-drainage-areas" data-journey-click="FMFP:FloodZone1:LearnMoreAboutFloodRiskAssessmentInFloodZone1">learn more about flood risk assessment in flood zone 1</a>
        </div>
      </li>
      <li>
        <div class="panel panel-border-wide">
          You can also <a href="https://www.gov.uk/guidance/flood-risk-assessment-for-planning-applications" data-journey-click="FMFP:FloodZone1:ReadMoreAboutFloodRiskAssessmentsForPlanningApplications">read more about flood risk assessments for planning applications</a>
        </div>
      </li>
    </ol>
    {{> summary/other-sources }}
  </div>
</div>