@import 'colours';
@import 'typography';
@import 'css3';
@import '../map';
@import '../branding';
@import '../dialog';

#summary-page {
  .main-container {
    .column-half {
      @include media(tablet) {
        min-height: 700px;
      }

      &.summary-column {
        border-style: solid;
        border-width: 0 0 0 15px;
        border-color: white;
        padding: 0;
        background-color: #f2f2f2;
        
        .zone {
          .heading-large {
            margin: 10px 0 10px 0;
            text-transform: uppercase;
            text-align: center;
          }
        }

        .next {
          .panel-border-wide {
            margin-bottom: 45px;
            padding-top: 0px;
            padding-bottom: 0px;
          }
        }

        .zone3-ben {
          .zone {
            background-color: $zone3Ben;
            color: $zone3BenText;
            .heading-large {
              margin-bottom: 0;
            }
            .heading-medium {
              text-align: center;
              margin-top: 0;
            }
            a {
              color: $zone3BenText;
            }
            a:visited {
              color: #f2f2f2;
            }
            a:hover {
              color: #f2f2f2;
            }
            a::after {
              color: $zone3BenText;
            }
          }
          .panel-border-wide {
            border-color: $zone3Ben;
          }
        }

        .zone3 {
          .zone {
            background-color: $zone3;
            color: $zone3Text;
            a {
              color: $zone3BenText;
            }
            a:visited {
              color: #f2f2f2;
            }
            a:hover {
              color: #f2f2f2;
            }
            a::after {
              color: $zone3BenText;
            }
          }
          .panel-border-wide {
            border-color: $zone3;
          }
        }
        .zone2 {
          .zone {
            background-color: $zone2;
            color: $zone2Text;
          }
          .panel-border-wide {
            border-color: $zone2;
          }
        }
        .zone1 {
          .zone {
            background-color: $zone1;
            color: $zone1Text;
            border: 1px solid #a9a9a9;
          }
          .panel-border-wide {
            border-color: #a9a9a9;
          }
        }

        .zone, .next {
          padding: 10px;
        }

        @include media(mobile) {
          border-left: 0;
          overflow: hidden;
          margin: 0 15px 0 15px;
        }

        ol {
          list-style-type: none;
          counter-reset: section;
          padding-left: 40px;

          @include media(mobile) {
            padding-left: 50px;
          }
          
          >li {
            position: relative;
            &::before {
              counter-increment: section;
              content: counter(section);
              font-size: 3em;
              position: absolute;
              left: -40px;
              font-weight: bold;
              top: -6px;
            }
          }
          ul {
            li {
              list-style-type: disc;
              margin-left: 20px;
              padding: 5px;
            }
          }
        }


      }

      &.map-column {      
        @include media(tablet) {
          padding-left: 0px;
        }

      }
    }
  }

  .more {
    margin-top: 30px;
  }

  &.fullscreen {
    .more {
      display: none;
    }
  }

  @include media(tablet) {
    .ol-full-screen, .ol-attribution {
      right: 135px;
    }
  }
}
