@import 'colours';
@import 'typography';
@import 'css3';
@import '../map';
@import '../branding';
@import '../os-branding';


.os-credits__text {
    background-color: rgba(255, 255, 255, 0.75);
    bottom: 0;
    font-size: 10px !important;
    position: absolute;
    right: 0;
    text-align: right;
    z-index: 999;
  }
  body.modal-open {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
  }  
  .os-credits__link {
    text-decoration: none;
  }
