@use '../../../node_modules/sass-mq/mq';
@use 'slider';
@use 'banner';

$govuk-assets-path: "/govuk/assets/";
$govuk-fonts-path: "/assets/fonts/";
$govuk-images-path: "/assets/images/";
$govuk-global-styles: true;
$govuk-new-typography-scale: true;

@import '../../../node_modules/govuk-frontend/dist/govuk/all';

// // GOVUK Styles
@import '../../../node_modules/govuk-frontend/dist/govuk/base';
@import '../../../node_modules/govuk-frontend/dist/govuk/core/typography';
@import '../../../node_modules/govuk-frontend/dist/govuk/core/links';
@import '../../../node_modules/govuk-frontend/dist/govuk/overrides/spacing';

// Map Component CSS
@import '/flood-map-scss';
// /flood-map-scss is a webpack alias that is substituted for either 
// @import '../../../node_modules/@defra/flood-map/src/flood-map';  // regular builds
// @import '../../../defra-map/src/flood-map';                      // submodule builds

strong {
  font-weight: bold;
}

.flood-map {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .govuk-header {
    @include mq.mq ($until: tablet) {
      padding-left: 0.75em;
      padding-right: 0.75em;
    }
  }

  .govuk-header__container {
    @include mq.mq ($from: tablet) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-left: 0.75em;
      padding-right: 0.75em;

      .govuk-header__logo {
        width: auto;
        padding-right: 0;
        float: none;
      }

      .govuk-header__content {
        width: auto;
        float: none;
        padding-left: 0;
      }

    }
  }
}

.flood-map-main {
  padding: 0.75em;

  @include mq.mq ($from: mobile) {
    flex: 1 1 auto;
    min-height: 0;
    height: 100%;
    padding: 0;
  }
}

.flood-map-target {
  height: 100%;
}

.govuk-header__container {
  @include mq.mq ($from: tablet) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0.75em;
    padding-right: 0.75em;

    .govuk-header__logo {
      width: auto;
      padding-right: 0;
      float: none;
    }

    .govuk-header__content {
      width: auto;
      float: none;
      padding-left: 0;
      transform: translateX(-80px);
    }
  }
}

// Application CSS
.fm-mobile.fm-inline.fm-o-container {
  position: fixed;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border: 0;
  background-color: var(--background-colour);
  -webkit-overflow-scrolling: touch;
  touch-action: pan-x pan-y;
}

.fm-error {
  margin: 4px;
}

// Disable page elements when map is fullscreen on mobile
// Only hide elements if:
// JavaScript is enabled
// The map is showing (ie no data-fm-error)
// The device is mobile
body.js-enabled:not([data-fm-error]) {

  header,
  .govuk-cookie-banner,
  .govuk-header,
  .govuk-skip-link,
  main>.govuk-heading-l {
    @include mq.mq ($until: tablet) {
      display: none;
    }
  }
}

.govuk-heading-s,
.govuk-body-s a,
.govuk-heading-m,
.govuk-list>li,
.govuk-details__text,
.fm-c-panel,
.fm-c-panel--edit {
  color: var(--foreground-colour);
}

#map-panel-legend-label {
  @extend .govuk-visually-hidden;
}

.esri-view-surface--touch-none {
  touch-action: none;
}
.fm-c-panel--warning-panel {
  width: auto !important;
}

.fm-desktop {
  .fm-c-panel--warning-panel {
    max-width: 1080px;
  }
}

.fm-tablet {
  .fm-c-panel--warning-panel {
    max-width: 1008px;
  }
}

// Stop an unnecessary scroll bar when depthAll is shown
.fm-c-layers__columns {
  overflow-x: hidden;
}

.fm-c-layers__group--custom-labels .fm-c-layers__columns {
  // Offset the depthAll text
  .fm-c-layers__text {
    text-align: right;
    padding-right: 2.7em;
  }
  // last depthAll text item
  .fm-c-layers__item:last-child .fm-c-layers__text {
    position: relative;
    bottom: 0;
    right: 0;
    width: auto;
    white-space: nowrap;
  }
}

.flood-map-target .govuk-body-s {
    margin-bottom: 0;
}

.display-contents {
  display: contents;
}

.fm-c-panel--info {
/* 
  These settings are set in _typography.css, but when wrapped in a 
  container that has style display: contents, such as .display-contents
  the css selectors break.
  This is a copy of the selectors, amended to cope with wrapping with 
  an ignored container.
*/
  %govuk-body-m + .display-contents %govuk-heading-m:first-child,
  %govuk-body-s + .display-contents %govuk-heading-m:first-child,
  %govuk-list + .display-contents %govuk-heading-m:first-child,
  %govuk-body-m + .display-contents %govuk-heading-s:first-child,
  %govuk-body-s + .display-contents %govuk-heading-s:first-child,
  %govuk-list + .display-contents %govuk-heading-s:first-child {
    padding-top: govuk-spacing(1);

    @include mq.mq ($from: tablet) {
      padding-top: govuk-spacing(2);
    }
  }
  #info-how-to-cc-url {
    margin-top: govuk-spacing(3);
    @include mq.mq ($from: tablet) {
      margin-top: govuk-spacing(4);
    }
  }
}


// Start of fix of  a Map Component bug (must be fixed there)
  .fm-o-top__column:first-child:not(:has(.fm-c-search))  {
     position: static;
 }

.fm-o-top__column:first-child > .fm-c-panel {
    position: absolute;
    left: 15px;
    top: 70px;
    max-height: calc(100% - 125px);
}
// End of fix of  a Map Component bug (must be fixed there)