@import "colours";
@import "typography";
@import "css3";

.map-container {
  position: relative;

  @include media(mobile) {
      padding-left: 10%;
      padding-right: 10%;
  }

  .mobile-heading {

    padding-bottom: 10px;
    @include media(tablet) {
      display: none;
    }   
  }

  .map {

    @include media(tablet) {
      height: 700px;
    }

    @include media(mobile) {
      height: 350px;
    }
  }

  .rhs {

    @include media(tablet) {
      margin-left: 215px;
    }

    @include media(tablet) {
      padding-left: 0;
    }

    @include media(tablet) {
      .controls {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100px;
        bottom: 0px;
        text-align: center;
      }
    }

    @include media(mobile) {
      .controls {
        width: 300px;
      }
    }

    .controls {
      padding: 14px;
      overflow: hidden;
      background-color: $white;

      @include media(tablet) {
        background-color: rgba(255, 255, 255, 0.9);
      }

      .heading-small {
        font-size: medium;
      }

      .legend {
        .subtitle {
          font-size: 14px;
        }

        ul {
          font-size: 14px;
          display: inline-block;

          li::before {
            width: 50px;
            height: 50px;
            content: '';
            display: inline-block;
          }

          li.round::before {
            border-radius: 50%;
          }

          li.rectangle::before {
            width: 59px; height: 24px;
          }

          li.line::before {
            width: 59px; height: 5px;
          }

          li.image::before {
            width: 60px;
            height: 25px;
            background-size: contain;
            background-repeat: no-repeat;
          }

          li.pin::before {
            width: 60px;
            height: 60px;
            background-position: center bottom;
            background-image: url('../../images/pin.png');
          }

          li.dark-blue::before {
            background: #464d94;
          }

          li.light-blue::before {
            background: #acd5ff;
          }

          li.black-border::before {
            border: solid 2px #000000;
          }

          li.area-benefiting::before {
            background-image: url('../../images/area-benefiting.png');
          }

          li.orange::before {
            background: #ff9000;
          }

          li.main-river::before {
            background-position: center bottom;
            background-image: url('../../images/main-river.png');
          }

          li.flood-holding-area::before {
            background-image: url('../../images/flood-holding-area.png');
          }

          li.white::before {
            background-color: #FFF;
            border: solid 2px #b9b9b9;
          }

          @include media(tablet) {
            li {
              margin-bottom: 10px;
            }
          }

          @include media(mobile) {
            li {
              margin-right: 10px;
              margin-bottom: 5px;
              display: inline-block;

              &::before {
                width: 20px;
                height: 20px;
                vertical-align: middle;
              }

              div {
                display: inline;
                margin-left: 3px;
                vertical-align: middle;
              }
            }
          }
        }

        @include media(mobile) {
          strong {
            margin-right: 10px;
          }
        }
      }

      @include media(tablet) {
        .print {
          left: 0;
          right: 0;
          bottom: 0;
          position: absolute;
        }
      }
    }
  }
}